doctype html
head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  include ./header.pug
  
  body#eventList.hd
    main#contents.hd__login
      .login.hd__inner450
        h2.hd__page-title 로그인
        span.hd__page-desc 로그인을 해주세여.
        // 그리팅회원 탭
        section
          form(action='/login' method='post')
            .input-area
              .input-box
                input#id.input__text(name='id', type='text', title='아이디', placeholder='아이디', value='')
              .input-box
                input#pw.input__text(name='pwd', type='password', title='비밀번호', placeholder='비밀번호')
            .checkbox-area.clearfix
              //
                <div class="hd-checkbox">
                <input type="checkbox" id="chk3" class="hidden" data-check="n">
                <label for="chk3">자동 로그인</label>
                </div>
              .hd-checkbox
                input#chk4.hidden(type='checkbox', data-check='n')
                label(for='chk4') 아이디 저장

                
              button#loginBtn.btn-init.green(type='submit', onclick= "popUp()") 로그인
                script.
                  function popUp(){
                    alert("!"
                    )
                  }

        // //그리팅회원 탭
        ul.login_link_box
          li
            a(href='/login/memberAccount/idFind') 아이디 찾기
          li
            a(href='/login/memberAccount/pwFind') 비밀번호 찾기
          li
            a(href='/member/join/memberjoin') 회원가입
      // //통합회원 및 그리팅회원 로그인
      .member-sns
        strong.member-sns__title SNS 로그인
        ul.box
          li.box__list
            a.sns-login-naver(href='javascript:goNaver();')
              img(src='/front_pc/images/ico_member_naver.png', alt='')
              span.box__list__txt 네이버
          li.box__list
            a.sns-login-kakao(href='javascript:loginWithKakao();')
              img(src='/front_pc/images/ico_member_kakao.png', alt='')
              span.box__list__txt 카카오
          li.box__list
            a#googleLoginBtn.sns-login-google(href='javascript:;')
              img(src='/front_pc/images/ico_member_google.png', alt='')
              span.box__list__txt 구글
          // 애플 로그인 개발시 주석 제거
          //
            <li class="box__list">
            <a href="javascript:;" class="sns-login-apple" id="googleLoginBtn">
            <img src="/front_pc/images/ico_member_apple.svg?ver=888" alt="">
            <span class="box__list__txt">애플</span>
            </a>
            </li>
      // 비회원 주문조회
      .member-btn.btn
        button#nonMemberOrder.btn-init.noMember(type='button') 비회원 주문조회
      // //비회원 주문조회
      // 비회원 주문
      .member-btn.btn(style='display: none;')
        button#nonMemberCartOrder.btn-init.noMember(type='button') 비회원 주문
      p#nonMemberCartOrderTxt.memberTxt(style='display: none;') * 비회원 주문시 쿠폰 사용 및 H'Point 적립, 사은품 지급 등의 혜택을 받을 수 없습니다.
      // //비회원 주문
      // 이미지 팝업 일경우 img 클래스 추가
      #pop_hpoint.pop_wrap.img(style='display:none')
        .pop_wrap__inner
          h2.pop_header.hidden confirm
          .pop_content
            // 이미지 팝업일 경우 img 클래스로 변경
            .img
              img(src='/front_pc/images/pop_hpoint.jpg', alt='H.point 통합회원 가입 안내 팝업')
              // <img src="/front_pc/images/pop_merge.jpg" alt="H.point 통합회원 가	입 안내 팝업" >
              a.btn_join(href='javascript:joinHpoint();') 회원가입하기
            button.btn_close(type='button', onclick='javascript:closeHpointPopup();')
              span 닫기
      #pop_merge.pop_wrap.img(style='display:none')
        .pop_wrap__inner
          h2.pop_header.hidden confirm
          .pop_content
            // 이미지 팝업일 경우 img 클래스로 변경
            .img
              img(src='/front_pc/images/pop_merge.jpg', alt='H.point 통합회원 가입 안내 팝업')
              a.btn_join(href='javascript:joinHpoint();') 회원가입하기
            button.btn_close(type='button', onclick='javascript:closeMergePopup();')
              span 닫기
      style.
        .pop_wrap.img {display:none; position:fixed; top:0; left:0; background:rgba(0, 0, 0, .6); width:100%; height:100%; z-index:5;}
        .pop_wrap.img .pop_wrap__inner {position:absolute; top:50%; left:50%; background:#fff; width:640px; transform:translate(-50%, -50%);}
        .pop_wrap.img .pop_wrap__inner .pop_content {margin-bottom:0;}
        .pop_wrap.img .pop_wrap__inner .pop_content .img img {vertical-align:top;}
        .pop_wrap.img .pop_wrap__inner .pop_content .btn_join {position:absolute; left:142px; bottom:80px; width:56%; height:52px; font:0/0 a;}
        .pop_wrap.img .pop_wrap__inner .pop_content .btn_close {position:absolute; top:45px; right:45px; width:45px; height:45px; font:0/0 a;}
        #loginBtn.btn-init.green {height:40px; margin : 10px 0px 10px 0px;}