doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    include ../common/head
    style.
      #careWrap{margin: 0 25%;}
  body 

    div#careWrap
      .meals.v2
        section.meals__sec.hd__inner1100
          h2.meals__title
            img(src='https://www.greating.co.kr/front_pc/images/img_meals_tit.png?ver=210324' alt='MEAL PLAN')
          p.meals__subtitle &#xC815;&#xAE30;&#xC2DD;&#xB2E8; &#xD504;&#xB85C;&#xADF8;&#xB7A8;
          ul.moreView
            li
              a(href='/main/boardDetail?freeboardId=199')
                | &#xC815;&#xAE30;&#xC2DD;&#xB2E8; &#xD504;&#xB85C;&#xADF8;&#xB7A8;&#xC774; &#xBB54;&#xAC00;&#xC694;? 
                i
            li
              a(href='/main/boardDetail?freeboardId=179')
                | &#xC8FC;&#xBB38;&#xC740; &#xC5B4;&#xB5BB;&#xAC8C; &#xD558;&#xB098;&#xC694;?  
                i
          ul.meals__banner
            li
              a(href='/planMeals/careLow' target='_self')
                img(src='https://image.greating.co.kr/DP/banner/202103/148381CD99A54CB7883D587F031184FC.png' alt='')
            li
              a(href='/planMeals/careLight' target='_self')
                img(src='https://image.greating.co.kr/DP/banner/202103/C0BBD914778E482C82E6754AC8A05852.png' alt='')
            li
              a(href='/planMeals/careWellness' target='_self')
                img(src='https://image.greating.co.kr/DP/banner/202103/4EC252AA63724D1589FDB6D2B4F41E25.png' alt='')
            li
              a(href='/planMeals/careMyGreating' target='_self')
                img(src='https://image.greating.co.kr/DP/banner/202103/8EBBAC230A7F4E7697AA57E6E0DD83F7.png' alt='')
        section.meals__sec.challenge
          h2.meals__title
            a(href='/main/boardDetail?freeboardId=341')
              img(src='/front_pc/images/img_challenge_tit.png?ver=210324' alt='CHALLENGE')
              i
          p.meals__subtitle &#xAC74;&#xAC15;&#xAD00;&#xB9AC;&#xAC00; &#xC26C;&#xC6CC;&#xC9C0;&#xB294; &#xADF8;&#xB9AC;&#xD305; &#xCC4C;&#xB9B0;&#xC9C0;
          ul.challenge__banner.hd__inner1100
            li
              a(href='/market/marketDetail?itemId=102760' target='')
                img(src='https://image.greating.co.kr/DP/banner/202109/6E362ECAB243459984F938A9EBB82F02.png' alt='')
            li
              a(href='/market/marketDetail?itemId=102759' target='')
                img(src='https://image.greating.co.kr/DP/banner/202109/C4124B58974B45F5B686F58FCB6C7211.png' alt='')
            li
              a(href='/market/marketDetail?itemId=102771' target='')
                img(src='https://image.greating.co.kr/DP/banner/202109/608CA04D39D143FBA6BC4881405E6C51.png' alt='')
            li
              a(href='/market/marketDetail?itemId=114983' target='')
                img(src='https://image.greating.co.kr/DP/banner/202109/CD243259F41045809E748698C1AEF3CB.png' alt='')
        section.market__sect.inquiry
          h2.inquiry__title.strong &#xB3C4;&#xC6C0;&#xC774; &#xD544;&#xC694;&#xD558;&#xC138;&#xC694;?
          p.inquiry__subtitle &#xC815;&#xAE30;&#xC2DD;&#xB2E8; &#xC11C;&#xBE44;&#xC2A4;&#xC5D0; &#xB300;&#xD55C; &#xAD81;&#xAE08;&#xD55C; &#xC0AC;&#xD56D;&#xC744; &#xBB38;&#xC758;&#xD558;&#xC138;&#xC694;
          .icon-area
            a.icon-area-phone(href='/serviceCenter/serviceCenterMain' title='고객센터') &#xACE0;&#xAC1D;&#xC13C;&#xD130;
            a.icon-area-kakao(href='javascript:csKakao();' title='카카오톡 문의') &#xCE74;&#xCE74;&#xC624;&#xD1A1; &#xBB38;&#xC758;
