doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    link(rel='shortcut icon', href='./front_mo/images/favicon.png')
    link(rel='stylesheet', href='./css/main.css', type='text/css')
    script(src='/js/main.js')
    include ../common/head
    
  body
    img(src=_url alt="sikdan")
    include ../common/footer