head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    link(rel='shortcut icon', href='./front_mo/images/favicon.png')
    link(rel='stylesheet', href='./css/main.css', type='text/css')
    script(src='/js/main.js')
    include ../common/head

body
section.mealsChoice__sec
  h2.meals__title
    span
      b [&#xBA54;&#xB274; &#xBBF8;&#xB9AC;&#xBCF4;&#xAE30;]
  // 카테고리별 식재료이미지 분기처리 20.03.16 Lee Seung Hwan
  //
    <a href="https://www.greating.co.kr/story/greatingLife/greatingLifeList#page1">
    <img src="/front_pc/images/라이트식재료10선_웹.jpg">
    </a>
  #mchoice
    section.meals-area
      .meals-area__cont
        h3.meals-area__cont__title 2021-12-15 &#xC218; / 2021-12-16 &#xBAA9;
        // <h3 class="meals-area__cont__title">2021-12-16 <span>목</span></h3>
        .meals__choice
          ul#ul_2021-12-16.box(data-date='2021-12-16')
            li.box__list
              input#list--1.hidden(type='checkbox' name='date_2021-12-16' data-checked='n')
              .box__list__img
                a.detail-open.btn__modal-open(href='#' data-popup-name='designationDetail' data-login='n' data-itemid='108734' itemmenutype='1' onclick="javascript:gaClickTagging('108734','불고기 부리또 샐러드','케어식단','칼로리식단','8500','현대그린푸드','');")
                  figure
                    img(src='https://image.greating.co.kr/IL/item/202106/23/M_091C5C5CEA8446D1832101AF5D69CD71.jpg' alt='' onerror="this.src='/pc/greating/images/no_item_img.jpg'")
              // 200306 프로모션 문구 추가
              strong.box__list__promotion &#xAC08;&#xB9AD; &#xB9C8;&#xC694; &#xB4DC;&#xB808;&#xC2F1;
              strong.box__list__title &#xBD88;&#xACE0;&#xAE30; &#xBD80;&#xB9AC;&#xB610; &#xC0D0;&#xB7EC;&#xB4DC;
              ul.box__list__material
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/D8A3A75E38FE40E591028165C17AD688.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/C7047712171E491CA696CF22A65BAF20.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/32C51633741C4E26B9E020BD58158BB8.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
            li.box__list
              input#list--2.hidden(type='checkbox' name='date_2021-12-16' data-checked='n')
              .box__list__img
                a.detail-open.btn__modal-open(href='#' data-popup-name='designationDetail' data-login='n' data-itemid='102778' itemmenutype='1' onclick="javascript:gaClickTagging('102778','감바스 알 아히요 샐러드 ','케어식단','칼로리식단','8500','현대그린푸드','');")
                  figure
                    img(src='https://image.greating.co.kr/IL/item/202102/09/M_12DC422D0C3B45B68CAE13775C229C00.jpg' alt='' onerror="this.src='/pc/greating/images/no_item_img.jpg'")
              // 200306 프로모션 문구 추가
              strong.box__list__promotion &#xB9C8;&#xB298; &#xB808;&#xBAAC; &#xC624;&#xC77C; &#xB4DC;&#xB808;&#xC2F1;
              strong.box__list__title &#xAC10;&#xBC14;&#xC2A4; &#xC54C; &#xC544;&#xD788;&#xC694; &#xC0D0;&#xB7EC;&#xB4DC; 
              ul.box__list__material
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/D8A3A75E38FE40E591028165C17AD688.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/B422FEE0A44B402BA7B7201041359956.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/4A4CC2AA6CD1465B9E9F65511C48ED03.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
            li.box__list
              input#list--3.hidden(type='checkbox' name='date_2021-12-16' data-checked='n')
              .box__list__img
                a.detail-open.btn__modal-open(href='#' data-popup-name='designationDetail' data-login='n' data-itemid='102785' itemmenutype='1' onclick="javascript:gaClickTagging('102785','스파이시 칠리치킨&올리브 쿠스쿠스','케어식단','칼로리식단','8500','현대그린푸드','');")
                  figure
                    img(src='https://image.greating.co.kr/IL/item/202101/15/M_74E7B86458F74C95876718D5B343DAEA.jpg' alt='' onerror="this.src='/pc/greating/images/no_item_img.jpg'")
              // 200306 프로모션 문구 추가
              strong.box__list__promotion &#xD0C4;&#xB2E8;&#xC9C0; &#xBE44;&#xC728;&#xC744; &#xB9DE;&#xCD98; &#xBC38;&#xB7F0;&#xC2A4;&#xBC00;
              strong.box__list__title &#xC2A4;&#xD30C;&#xC774;&#xC2DC; &#xCE60;&#xB9AC;&#xCE58;&#xD0A8;&amp;&#xC62C;&#xB9AC;&#xBE0C; &#xCFE0;&#xC2A4;&#xCFE0;&#xC2A4;
              ul.box__list__material
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/D8A3A75E38FE40E591028165C17AD688.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/40400A53BD47400F973DE8BC3E59435D.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/2CA1A01B2EF3413685E91A85E256C679.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
    section.meals-area
      .meals-area__cont
        h3.meals-area__cont__title 2021-12-17 &#xAE08; / 2021-12-18 &#xD1A0;
        // <h3 class="meals-area__cont__title">2021-12-18 <span>토</span></h3>
        .meals__choice
          ul#ul_2021-12-18.box(data-date='2021-12-18')
            li.box__list
              input#list--1.hidden(type='checkbox' name='date_2021-12-18' data-checked='n')
              .box__list__img
                a.detail-open.btn__modal-open(href='#' data-popup-name='designationDetail' data-login='n' data-itemid='102885' itemmenutype='1' onclick="javascript:gaClickTagging('102885','쉬림프 갈릭버터구이 샐러드','케어식단','칼로리식단','8500','현대그린푸드','');")
                  figure
                    img(src='https://image.greating.co.kr/IL/item/202108/26/M_A121A9F31CAD428F9344A213830B6005.jpg' alt='' onerror="this.src='/pc/greating/images/no_item_img.jpg'")
              // 200306 프로모션 문구 추가
              strong.box__list__promotion &#xAC08;&#xB9AD; &#xB9C8;&#xC694; &#xB4DC;&#xB808;&#xC2F1;
              strong.box__list__title &#xC26C;&#xB9BC;&#xD504; &#xAC08;&#xB9AD;&#xBC84;&#xD130;&#xAD6C;&#xC774; &#xC0D0;&#xB7EC;&#xB4DC;
              ul.box__list__material
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/D8A3A75E38FE40E591028165C17AD688.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/B422FEE0A44B402BA7B7201041359956.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/4A4CC2AA6CD1465B9E9F65511C48ED03.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
            li.box__list
              input#list--2.hidden(type='checkbox' name='date_2021-12-18' data-checked='n')
              .box__list__img
                a.detail-open.btn__modal-open(href='#' data-popup-name='designationDetail' data-login='n' data-itemid='102781' itemmenutype='1' onclick="javascript:gaClickTagging('102781','연자육 닭가슴살 콥샐러드 ','케어식단','칼로리식단','8500','현대그린푸드','');")
                  figure
                    img(src='https://image.greating.co.kr/IL/item/202101/15/M_5D9438A1F1FF471BA20B7ED56EAB4A12.jpg' alt='' onerror="this.src='/pc/greating/images/no_item_img.jpg'")
              // 200306 프로모션 문구 추가
              strong.box__list__promotion &#xC591;&#xD30C; &#xCE58;&#xC988; &#xB9C8;&#xC694; &#xB4DC;&#xB808;&#xC2F1;
              strong.box__list__title &#xC5F0;&#xC790;&#xC721; &#xB2ED;&#xAC00;&#xC2B4;&#xC0B4; &#xCF65;&#xC0D0;&#xB7EC;&#xB4DC; 
              ul.box__list__material
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/D8A3A75E38FE40E591028165C17AD688.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/40400A53BD47400F973DE8BC3E59435D.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/32C51633741C4E26B9E020BD58158BB8.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
            li.box__list
              input#list--3.hidden(type='checkbox' name='date_2021-12-18' data-checked='n')
              .box__list__img
                a.detail-open.btn__modal-open(href='#' data-popup-name='designationDetail' data-login='n' data-itemid='114808' itemmenutype='1' onclick="javascript:gaClickTagging('114808','포르투갈풍 해산물밥','케어식단','칼로리식단','8500','현대그린푸드','');")
                  figure
                    img(src='https://image.greating.co.kr/IL/item/202109/15/M_276B7A7A935B478188457CA3D6D3C079.jpg' alt='' onerror="this.src='/pc/greating/images/no_item_img.jpg'")
              // 200306 프로모션 문구 추가
              strong.box__list__promotion &#xD0C4;&#xB2E8;&#xC9C0; &#xBE44;&#xC728;&#xC744; &#xB9DE;&#xCD98; &#xBC38;&#xB7F0;&#xC2A4;&#xBC00;
              strong.box__list__title &#xD3EC;&#xB974;&#xD22C;&#xAC08;&#xD48D; &#xD574;&#xC0B0;&#xBB3C;&#xBC25;
              ul.box__list__material
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/D8A3A75E38FE40E591028165C17AD688.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/B422FEE0A44B402BA7B7201041359956.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/E92F28E056004D66ADDDC3D133AC7E53.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
    section.meals-area
      .meals-area__cont
        h3.meals-area__cont__title 2021-12-20 &#xC6D4; / 2021-12-21 &#xD654;
        // <h3 class="meals-area__cont__title">2021-12-21 <span>화</span></h3>
        .meals__choice
          ul#ul_2021-12-21.box(data-date='2021-12-21')
            li.box__list
              input#list--1.hidden(type='checkbox' name='date_2021-12-21' data-checked='n')
              .box__list__img
                a.detail-open.btn__modal-open(href='#' data-popup-name='designationDetail' data-login='n' data-itemid='102193' itemmenutype='1' onclick="javascript:gaClickTagging('102193','중화풍 돼지고기 쪽파 샐러드 ','케어식단','칼로리식단','8500','현대그린푸드','');")
                  figure
                    img(src='https://image.greating.co.kr/IL/item/202108/24/M_F39236804E5B4694B2742B67B4191251.jpg' alt='' onerror="this.src='/pc/greating/images/no_item_img.jpg'")
              // 200306 프로모션 문구 추가
              strong.box__list__promotion &#xCC38;&#xAE68; &#xB9C8;&#xC694; &#xB4DC;&#xB808;&#xC2F1;
              strong.box__list__title &#xC911;&#xD654;&#xD48D; &#xB3FC;&#xC9C0;&#xACE0;&#xAE30; &#xCABD;&#xD30C; &#xC0D0;&#xB7EC;&#xB4DC; 
              ul.box__list__material
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/D8A3A75E38FE40E591028165C17AD688.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/E667B3364BEF4BCAA826E9A3ACDA7EA6.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/D7CB2C931DCC4ED29EF1642D2F351AAA.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
            li.box__list
              input#list--2.hidden(type='checkbox' name='date_2021-12-21' data-checked='n')
              .box__list__img
                a.detail-open.btn__modal-open(href='#' data-popup-name='designationDetail' data-login='n' data-itemid='102347' itemmenutype='1' onclick="javascript:gaClickTagging('102347','크랜베리 애플치킨 샐러드','케어식단','칼로리식단','8500','현대그린푸드','');")
                  figure
                    img(src='https://image.greating.co.kr/IL/item/202106/08/M_C11C31E2B607471B9CF91492B08E52A5.jpg' alt='' onerror="this.src='/pc/greating/images/no_item_img.jpg'")
              // 200306 프로모션 문구 추가
              strong.box__list__promotion &#xBA38;&#xC2A4;&#xD0C0;&#xB4DC; &#xB4DC;&#xB808;&#xC2F1;
              strong.box__list__title &#xD06C;&#xB79C;&#xBCA0;&#xB9AC; &#xC560;&#xD50C;&#xCE58;&#xD0A8; &#xC0D0;&#xB7EC;&#xB4DC;
              ul.box__list__material
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/D8A3A75E38FE40E591028165C17AD688.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/40400A53BD47400F973DE8BC3E59435D.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/46C03C04C42C4584A81EDD233A3C4CB9.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
            li.box__list
              input#list--3.hidden(type='checkbox' name='date_2021-12-21' data-checked='n')
              .box__list__img
                a.detail-open.btn__modal-open(href='#' data-popup-name='designationDetail' data-login='n' data-itemid='102887' itemmenutype='1' onclick="javascript:gaClickTagging('102887','네기규동 & 귀리 곤약 라이스','케어식단','칼로리식단','8500','현대그린푸드','');")
                  figure
                    img(src='https://image.greating.co.kr/IL/item/202102/02/M_CDFEA6DBE4234A00A41062196DE71843.jpg' alt='' onerror="this.src='/pc/greating/images/no_item_img.jpg'")
              // 200306 프로모션 문구 추가
              strong.box__list__promotion &#xD0C4;&#xB2E8;&#xC9C0; &#xBE44;&#xC728;&#xC744; &#xB9DE;&#xCD98; &#xBC38;&#xB7F0;&#xC2A4;&#xBC00;
              strong.box__list__title &#xB124;&#xAE30;&#xADDC;&#xB3D9; &amp; &#xADC0;&#xB9AC; &#xACE4;&#xC57D; &#xB77C;&#xC774;&#xC2A4;
              ul.box__list__material
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/D8A3A75E38FE40E591028165C17AD688.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/C7047712171E491CA696CF22A65BAF20.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/D7CB2C931DCC4ED29EF1642D2F351AAA.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
    section.meals-area
      .meals-area__cont
        h3.meals-area__cont__title 2021-12-22 &#xC218; / 2021-12-23 &#xBAA9;
        // <h3 class="meals-area__cont__title">2021-12-23 <span>목</span></h3>
        .meals__choice
          ul#ul_2021-12-23.box(data-date='2021-12-23')
            li.box__list
              input#list--1.hidden(type='checkbox' name='date_2021-12-23' data-checked='n')
              .box__list__img
                a.detail-open.btn__modal-open(href='#' data-popup-name='designationDetail' data-login='n' data-itemid='102223' itemmenutype='1' onclick="javascript:gaClickTagging('102223','지중해식 연어구이 샐러드 ','케어식단','칼로리식단','8500','현대그린푸드','');")
                  figure
                    img(src='https://image.greating.co.kr/IL/item/202102/18/M_4DEE085D5A034C42992DCEB9C4101583.jpg' alt='' onerror="this.src='/pc/greating/images/no_item_img.jpg'")
              // 200306 프로모션 문구 추가
              strong.box__list__promotion &#xBA38;&#xC2A4;&#xD0C0;&#xB4DC; &#xB4DC;&#xB808;&#xC2F1;
              strong.box__list__title &#xC9C0;&#xC911;&#xD574;&#xC2DD; &#xC5F0;&#xC5B4;&#xAD6C;&#xC774; &#xC0D0;&#xB7EC;&#xB4DC; 
              ul.box__list__material
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/D8A3A75E38FE40E591028165C17AD688.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/42DA0F64D76B4ADB8A35DB5622CFF01F.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/B08A1AB95D294464B2618ACD8B8E62DC.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
            li.box__list
              input#list--2.hidden(type='checkbox' name='date_2021-12-23' data-checked='n')
              .box__list__img
                a.detail-open.btn__modal-open(href='#' data-popup-name='designationDetail' data-login='n' data-itemid='102235' itemmenutype='1' onclick="javascript:gaClickTagging('102235','로제치킨 샐러드','케어식단','칼로리식단','8500','현대그린푸드','');")
                  figure
                    img(src='https://image.greating.co.kr/IL/item/202106/17/M_1E6E764417604DE78BD5BEDC50AE94AE.jpg' alt='' onerror="this.src='/pc/greating/images/no_item_img.jpg'")
              // 200306 프로모션 문구 추가
              strong.box__list__promotion &#xAC08;&#xB9AD; &#xB9C8;&#xC694; &#xB4DC;&#xB808;&#xC2F1;
              strong.box__list__title &#xB85C;&#xC81C;&#xCE58;&#xD0A8; &#xC0D0;&#xB7EC;&#xB4DC;
              ul.box__list__material
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/D8A3A75E38FE40E591028165C17AD688.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/40400A53BD47400F973DE8BC3E59435D.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/E92F28E056004D66ADDDC3D133AC7E53.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
            li.box__list
              input#list--3.hidden(type='checkbox' name='date_2021-12-23' data-checked='n')
              .box__list__img
                a.detail-open.btn__modal-open(href='#' data-popup-name='designationDetail' data-login='n' data-itemid='108946' itemmenutype='1' onclick="javascript:gaClickTagging('108946','전복 내장 비빔밥','케어식단','칼로리식단','8500','현대그린푸드','');")
                  figure
                    img(src='https://image.greating.co.kr/IL/item/202107/01/M_24070D2A958C4C8895CE0BBE9DEBC129.png' alt='' onerror="this.src='/pc/greating/images/no_item_img.jpg'")
              // 200306 프로모션 문구 추가
              strong.box__list__promotion &#xD0C4;&#xB2E8;&#xC9C0; &#xBE44;&#xC728;&#xC744; &#xB9DE;&#xCD98; &#xBC38;&#xB7F0;&#xC2A4;&#xBC00;
              strong.box__list__title &#xC804;&#xBCF5; &#xB0B4;&#xC7A5; &#xBE44;&#xBE54;&#xBC25;
              ul.box__list__material
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/D8A3A75E38FE40E591028165C17AD688.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/B422FEE0A44B402BA7B7201041359956.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/529BF140DFFD48579482C4CD22311CEE.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
    section.meals-area
      .meals-area__cont
        h3.meals-area__cont__title 2021-12-24 &#xAE08; / 2021-12-25 &#xD1A0;
        // <h3 class="meals-area__cont__title">2021-12-25 <span>토</span></h3>
        .meals__choice
          ul#ul_2021-12-25.box(data-date='2021-12-25')
            li.box__list
              input#list--1.hidden(type='checkbox' name='date_2021-12-25' data-checked='n')
              .box__list__img
                a.detail-open.btn__modal-open(href='#' data-popup-name='designationDetail' data-login='n' data-itemid='102784' itemmenutype='1' onclick="javascript:gaClickTagging('102784','비프&블랙 라이스 샐러드','케어식단','칼로리식단','8500','현대그린푸드','');")
                  figure
                    img(src='https://image.greating.co.kr/IL/item/202101/15/M_BEBEB8D511B44F89AE3A338C103A7B4B.jpg' alt='' onerror="this.src='/pc/greating/images/no_item_img.jpg'")
              // 200306 프로모션 문구 추가
              strong.box__list__promotion &#xBC1C;&#xC0AC;&#xBBF9; &#xD06C;&#xB9BC; &#xB4DC;&#xB808;&#xC2F1;
              strong.box__list__title &#xBE44;&#xD504;&amp;&#xBE14;&#xB799; &#xB77C;&#xC774;&#xC2A4; &#xC0D0;&#xB7EC;&#xB4DC;
              ul.box__list__material
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/D8A3A75E38FE40E591028165C17AD688.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/42DA0F64D76B4ADB8A35DB5622CFF01F.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/C7047712171E491CA696CF22A65BAF20.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
            li.box__list
              input#list--2.hidden(type='checkbox' name='date_2021-12-25' data-checked='n')
              .box__list__img
                a.detail-open.btn__modal-open(href='#' data-popup-name='designationDetail' data-login='n' data-itemid='102220' itemmenutype='1' onclick="javascript:gaClickTagging('102220','청포도 리코타 샐러드','케어식단','칼로리식단','8500','현대그린푸드','');")
                  figure
                    img(src='https://image.greating.co.kr/IL/item/202102/09/M_D2F0A6D739FA455A9AA8EB03B4C75377.jpg' alt='' onerror="this.src='/pc/greating/images/no_item_img.jpg'")
              // 200306 프로모션 문구 추가
              strong.box__list__promotion &#xC2A4;&#xC704;&#xD2B8; &#xBC14;&#xB098;&#xB098; &#xB4DC;&#xB808;&#xC2F1; 
              strong.box__list__title &#xCCAD;&#xD3EC;&#xB3C4; &#xB9AC;&#xCF54;&#xD0C0; &#xC0D0;&#xB7EC;&#xB4DC;
              ul.box__list__material
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/D8A3A75E38FE40E591028165C17AD688.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/72FE6C71CD1649079D802ED4269DFF8D.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/057145F96CC3499C918E79A61DF00F88.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
            li.box__list
              input#list--3.hidden(type='checkbox' name='date_2021-12-25' data-checked='n')
              .box__list__img
                a.detail-open.btn__modal-open(href='#' data-popup-name='designationDetail' data-login='n' data-itemid='110546' itemmenutype='1' onclick="javascript:gaClickTagging('110546','레드와인소스 함박스테이크','케어식단','칼로리식단','8500','현대그린푸드','');")
                  figure
                    img(src='https://image.greating.co.kr/IL/item/202107/26/M_DC51B3AC4F054F1B93B5C8D0F13B1FA4.jpg' alt='' onerror="this.src='/pc/greating/images/no_item_img.jpg'")
              // 200306 프로모션 문구 추가
              strong.box__list__promotion &#xD0C4;&#xB2E8;&#xC9C0; &#xBE44;&#xC728;&#xC744; &#xB9DE;&#xCD98; &#xBC38;&#xB7F0;&#xC2A4;&#xBC00;
              strong.box__list__title &#xB808;&#xB4DC;&#xC640;&#xC778;&#xC18C;&#xC2A4; &#xD568;&#xBC15;&#xC2A4;&#xD14C;&#xC774;&#xD06C;
              ul.box__list__material
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/D8A3A75E38FE40E591028165C17AD688.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/E667B3364BEF4BCAA826E9A3ACDA7EA6.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/BF2E318528864F7E867313C0186A36BE.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
    section.meals-area
      .meals-area__cont
        h3.meals-area__cont__title 2021-12-27 &#xC6D4; / 2021-12-28 &#xD654;
        // <h3 class="meals-area__cont__title">2021-12-28 <span>화</span></h3>
        .meals__choice
          ul#ul_2021-12-28.box(data-date='2021-12-28')
            li.box__list
              input#list--1.hidden(type='checkbox' name='date_2021-12-28' data-checked='n')
              .box__list__img
                a.detail-open.btn__modal-open(href='#' data-popup-name='designationDetail' data-login='n' data-itemid='102790' itemmenutype='1' onclick="javascript:gaClickTagging('102790','탄두리치킨&비트후무스 샐러드','케어식단','칼로리식단','8500','현대그린푸드','');")
                  figure
                    img(src='https://image.greating.co.kr/IL/item/202101/15/M_0E0399A7B2F943CE8EB326FE75E4FAEF.jpg' alt='' onerror="this.src='/pc/greating/images/no_item_img.jpg'")
              // 200306 프로모션 문구 추가
              strong.box__list__promotion &#xAC08;&#xB9AD;&#xB9C8;&#xC694; &#xB4DC;&#xB808;&#xC2F1;
              strong.box__list__title &#xD0C4;&#xB450;&#xB9AC;&#xCE58;&#xD0A8;&amp;&#xBE44;&#xD2B8;&#xD6C4;&#xBB34;&#xC2A4; &#xC0D0;&#xB7EC;&#xB4DC;
              ul.box__list__material
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/D8A3A75E38FE40E591028165C17AD688.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/40400A53BD47400F973DE8BC3E59435D.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/D3FF9F463180415589FECCA6BA292564.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
            li.box__list
              input#list--2.hidden(type='checkbox' name='date_2021-12-28' data-checked='n')
              .box__list__img
                a.detail-open.btn__modal-open(href='#' data-popup-name='designationDetail' data-login='n' data-itemid='114807' itemmenutype='1' onclick="javascript:gaClickTagging('114807','건새우 알리오올리오 샐러드','케어식단','칼로리식단','8500','현대그린푸드','');")
                  figure
                    img(src='https://image.greating.co.kr/IL/item/202109/15/M_DAB59B6B024F41B2B068F1333B2D9E17.jpg' alt='' onerror="this.src='/pc/greating/images/no_item_img.jpg'")
              // 200306 프로모션 문구 추가
              strong.box__list__promotion &#xC544;&#xBCF4;&#xCE74;&#xB3C4; &#xC624;&#xC77C; &#xB4DC;&#xB808;&#xC2F1;
              strong.box__list__title &#xAC74;&#xC0C8;&#xC6B0; &#xC54C;&#xB9AC;&#xC624;&#xC62C;&#xB9AC;&#xC624; &#xC0D0;&#xB7EC;&#xB4DC;
              ul.box__list__material
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/D8A3A75E38FE40E591028165C17AD688.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/B422FEE0A44B402BA7B7201041359956.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/BF2E318528864F7E867313C0186A36BE.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
            li.box__list
              input#list--3.hidden(type='checkbox' name='date_2021-12-28' data-checked='n')
              .box__list__img
                a.detail-open.btn__modal-open(href='#' data-popup-name='designationDetail' data-login='n' data-itemid='103132' itemmenutype='1' onclick="javascript:gaClickTagging('103132','연어 가지 가츠오덮밥','케어식단','칼로리식단','8500','현대그린푸드','');")
                  figure
                    img(src='https://image.greating.co.kr/IL/item/202104/28/M_0EA900A2888E445B814DFD20F1C844EC.jpg' alt='' onerror="this.src='/pc/greating/images/no_item_img.jpg'")
              // 200306 프로모션 문구 추가
              strong.box__list__promotion &#xD0C4;&#xB2E8;&#xC9C0; &#xBE44;&#xC728;&#xC744; &#xB9DE;&#xCD98; &#xBC38;&#xB7F0;&#xC2A4;&#xBC00;
              strong.box__list__title &#xC5F0;&#xC5B4; &#xAC00;&#xC9C0; &#xAC00;&#xCE20;&#xC624;&#xB36E;&#xBC25;
              ul.box__list__material
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/D8A3A75E38FE40E591028165C17AD688.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/B08A1AB95D294464B2618ACD8B8E62DC.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                li
                  img(src='https://image.greating.co.kr/II/basic/itemIcon/4E9BD6F5EA7049CDA5673F8FFB1615F8.png' alt='' onerror="this.src='/front_pc/images/icon_menu_cow.png'")
                  
                  
include ../common/footer