style.
    .nutriInfo{margin: 0 25%;}
    .nute{display: flex; }.nicon{margin:0 25px;}


img(src="https://image.greating.co.kr/DP/banner/202102/98DEF1845A254D56A9E21D88D6099A9E.png" alt="한땀 한땀 메뉴스토리")

.nutriInfo
    hr
    .nute
        img.nicon(src="https://image.greating.co.kr/II/basic/itemIcon/A1BCDADFCFE64D1EB856A64CBD2C8A03.png" alt="견과" width=35 height=35)
        img.nicon(src="https://image.greating.co.kr/II/basic/itemIcon/E667B3364BEF4BCAA826E9A3ACDA7EA6.png" alt="돼지" width=35 height=35)
        img.nicon(src="https://image.greating.co.kr/II/basic/itemIcon/C9E7BF61D5CB4DCC9E107A4D9475540D.png" alt="방울토마토" width=35 height=35)
    hr
    .pvolume
        span 용량 &nbsp; 180g
    hr
    .calorie
        span 칼로리 &nbsp; 275kcal    
    hr
    .porigin
        span 원산지 &nbsp; 상세페이지 참고

    br
    br
    

    .product.story=pStory
    div.detailURL
        
        img(src="https://www.greating.co.kr/comn/getView?FILE_NAME=83D0AF63501141F2BECF9569E50E814A.jpg&ORG_FILE_NAME=@700x8056.jpg&SUB_PATH=editor/images/2021/09/28/edt_20200122092748073001")
        img(src="https://www.greating.co.kr/comn/getView?FILE_NAME=11D532DBFFC74165AB948CAA0C326CBF.jpg&ORG_FILE_NAME=@700x1344.jpg&SUB_PATH=editor/images/2021/09/28/edt_20200122092748073001")
        img(src="https://image.greating.co.kr/IL/item/202107/14/0982B2BF64FE4444AC43A3A22403764E.jpg")
        
    span inredients    --------------------------------------
    span 모든 재료를 확인하세요

    .productlabel
        img(src="https://image.greating.co.kr/IL/item/202110/15/86019F6292724C3FA6B369A8428DEFA8.jpg")

    