main#contents.hd__marketDetail
  ul.breadcrumb
    li HOME
    li &#xC0D0;&#xB7EC;&#xB4DC;/&#xC0CC;&#xB4DC;&#xC704;&#xCE58;
    li &#xC0D0;&#xB7EC;&#xB4DC;
  .marketDetail.hd__inner1100
    section.marketDetail__sect.hd__inner1100.overview
      h2.hidden &#xB9C8;&#xCF13;&#xC0C1;&#xC138; &#xC0C1;&#xD488;&#xC815;&#xBCF4;
      .slider__sec
        .slider.slick-initialized.slick-slider
          button.slick-prev.slick-arrow(aria-label='Previous', type='button', style='') Previous
          .slick-list.draggable
            .slick-track(style='opacity: 1; width: 2200px;')
              .slick-slide(data-slick-index='0', aria-hidden='true', style='width: 550px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms linear 0s;', tabindex='-1')
                div
                  .slider__list(style='width: 100%; display: inline-block;')
                    figure
                      img(src='https://image.greating.co.kr/IL/item/202107/14/543545DCAC5A470E8A48B1A952D15723.jpg', alt='스파이시 쉬림프 샐러드 (S)')
              .slick-slide(data-slick-index='1', aria-hidden='true', style='width: 550px; position: relative; left: -550px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms linear 0s;', tabindex='-1')
                div
                  .slider__list(style='width: 100%; display: inline-block;')
                    figure
                      img(src='https://image.greating.co.kr/IL/item/202107/14/6073BE16B5D64CA5AD5388606A8986C0.jpg', alt='')
              .slick-slide(data-slick-index='2', aria-hidden='true', style='width: 550px; position: relative; left: -1100px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms linear 0s;', tabindex='-1')
                div
                  .slider__list(style='width: 100%; display: inline-block;')
                    figure
                      img(src='https://image.greating.co.kr/IL/item/202107/14/FCC991EC391B48A9B6D2FDE0AEC5C9CD.jpg', alt='')
              .slick-slide.slick-current.slick-active(data-slick-index='3', aria-hidden='false', style='width: 550px; position: relative; left: -1650px; top: 0px; z-index: 999; opacity: 1;')
                div
                  .slider__list(style='width: 100%; display: inline-block;')
                    figure
                      img(src='https://image.greating.co.kr/IL/item/202107/14/18B586A8F5E3469A88F8F77EDBFCE892.jpg', alt='')
          button.slick-next.slick-arrow(aria-label='Next', type='button', style='') Next
          .slick-counter
            span.current 4
            |  / 
            span.total 4
        
          .slick-controller
            button.slick-stop
                span.hidden &#xC2AC;&#xB77C;&#xC774;&#xB4DC; &#xC815;&#xC9C0;
            button.slick-play.hide
                span.hidden &#xC2AC;&#xB77C;&#xC774;&#xB4DC; &#xC2E4;&#xD589;

      .info-area
        .info-area__btn
          button.btn-heart(onclick='fnComnWishItem(100865);')
            span &#xC81C;&#xD488; &#xCC1C;&#xD558;&#xAE30;
          a.btn-share.btn__modal-open(href='#', data-login='n', data-popup-name='popup_snsShare') &#xACF5;&#xC720;&#xD558;&#xAE30;
        .info-area__tag
            span.c1 NEW
            span.c2 SALE
            span.c3 &#xB0C9;&#xB3D9;
            span.c4 &#xB0C9;&#xC7A5;


        p.message__advice &#xB808;&#xBAAC; &#xB4DC;&#xB808;&#xC2F1; 
        h3.info-area__name
          span.strong &#xC2A4;&#xD30C;&#xC774;&#xC2DC; &#xC26C;&#xB9BC;&#xD504; &#xC0D0;&#xB7EC;&#xB4DC; (S)
          span
            | &#xC6D0;&#xC0B0;&#xC9C0; :
            | &#xC0C1;&#xC138;&#xD398;&#xC774;&#xC9C0; &#xCC38;&#xACE0;
        .box
        .price
          span.price-sale 10%
          span.price-discounted.strong 5,220&#xC6D0;
          del.price-origin 5,800&#xC6D0;
        .info-area__box
          #divCardEvent.info-area__box-list(style='display: none;')
            .info-area__box-tit &#xCD94;&#xAC00; &#xD61C;&#xD0DD;
            .info-area__box-cont
              a.info-area__box-button.btn__modal-open(href='#;', data-login='n', data-popup-name='popup_cardEvent') &#xCE74;&#xB4DC; &#xBB34;&#xC774;&#xC790; &#xD589;&#xC0AC; &#xC548;&#xB0B4;
          .info-area__box-list
            .info-area__box-tit &#xBC30;&#xC1A1;&#xC815;&#xBCF4;
            .info-area__box-cont
              .delivery
                ul
                  li
                    strong.dawn &#xC0C8;&#xBCBD;&#xBC30;&#xC1A1;
                    | 7pm &#xC774;&#xC804; &#xACB0;&#xC81C;&#xC2DC; 
                    span 12&#xC6D4; 14&#xC77C;(&#xD654;) &#xB3C4;&#xCC29; &#xAC00;&#xB2A5;
                  li
                    strong &#xD0DD;&#xBC30;&#xBC30;&#xC1A1;
                    | 5pm &#xC774;&#xC804; &#xACB0;&#xC81C;&#xC2DC; 
                    span 12&#xC6D4; 14&#xC77C;(&#xD654;) &#xB3C4;&#xCC29; &#xAC00;&#xB2A5;
              a.delivery-link(href='/spComn/checkAddress') &#xC8FC;&#xBB38;&#xC2DC;&#xAC04; &#xBC0F; &#xBC30;&#xC1A1;&#xC548;&#xB0B4; &#xC790;&#xC138;&#xD788;&#xBCF4;&#xAE30;
              //
                품절임박
          #delivery_fee_line.info-area__box-list
            .info-area__box-tit &#xBC30;&#xC1A1;&#xBE44;
            .info-area__box-cont
              p
                strong 3,000&#xC6D0;
                |  / 30,000&#xC6D0; &#xC774;&#xC0C1; &#xBB34;&#xB8CC; &#xBC30;&#xC1A1;
          .info-area__box-list
            .info-area__box-tit &#xD310;&#xB9E4;&#xC790;
            .info-area__box-cont
              .store
                .store-name &#xADF8;&#xB9AC;&#xD305;
                .store-tel
                  span 1800-0700
        section.btn-area
          .btn
            button#dvMiniCartButtonCart.btn-init.orange.dvMiniCartOpen(onclick="cartGubun('cart','N','718');", dvitemid='100865', data-url='cart') &#xC7A5;&#xBC14;&#xAD6C;&#xB2C8; &#xB2F4;&#xAE30;
            // 장바구니 -> 장바구니 담기 2020.03.20 Lee Seung Hwan
            button#dvMiniCartButtonOrder.btn-init.green.dvMiniCartOpen(onclick="cartGubun('cart','N','718');", dvitemid='100865', data-url='buynow')
              | &#xAD6C;&#xB9E4;&#xD558;&#xAE30;
            button#dvMiniCartButtonGiftCart.btn-init.gift(onclick="cartGubun('giftCart','N','718');", dvitemid='100865', data-url='cart', style='')
              | &#xC120;&#xBB3C;&#xD558;&#xAE30;
              span.btn-tooltip &#xC5F0;&#xB77D;&#xCC98;&#xB9CC; &#xC54C;&#xBA74; OK
            // 명절상품관 제품 선물하기 추가 20210817
            button#dvMiniCartButtonGiftCart.btn-init.gift(onclick="cartGubun('giftCart','N','718');", dvitemid='100865', data-url='cart', style='display:none;')
              | &#xC120;&#xBB3C;&#xD558;&#xAE30;
              span.btn-tooltip &#xC5F0;&#xB77D;&#xCC98;&#xB9CC; &#xC54C;&#xBA74; OK
    section.marketDetail__sect.detail
      .tab-menu
        ul.tab-menu__inner
          li.tab-menu__list.tnb-area__list.tab-menu__list--on(data-tab='cont-info')
            a(href='#')
              strong &#xC0C1;&#xD488;&#xC815;&#xBCF4;
          li#reviewTab.tab-menu__list.tnb-area__list(data-tab='cont-review')
            a(href='#')
              strong &#xC0C1;&#xD488;&#xD6C4;&#xAE30;
              span#reviwCnt.tab-menu__count 639
          li.tab-menu__list.tnb-area__list(data-tab='cont-inquiry')
            a(href='#')
              strong &#xC0C1;&#xD488;&#xBB38;&#xC758;
              span#qnaCnt.tab-menu__count 5
          li.tab-menu__list.tnb-area__list(data-tab='cont-notice')
            a(href='#')
              strong &#xAD50;&#xD658;/&#xBC18;&#xD488;
      // 상품정보1111
      #cont-info.tab-content.tab-content--show.cont-info
        // 배너
        // 어드민에 링크 입력 됬을 경우
        a(href='https://www.greating.co.kr/story/brand/brandStoryDetail')
          img(src='https://image.greating.co.kr/DP/banner/202102/98DEF1845A254D56A9E21D88D6099A9E.png', alt='')
        .box
          .box__list.icon
            span.icon__list
              img(src='https://image.greating.co.kr/II/basic/itemIcon/B422FEE0A44B402BA7B7201041359956.png', alt='')
              | &#xD574;&#xBB3C;
            span.icon__list
              img(src='https://image.greating.co.kr/II/basic/itemIcon/C9E7BF61D5CB4DCC9E107A4D9475540D.png', alt='')
              | &#xBC29;&#xC6B8;&#xD1A0;&#xB9C8;&#xD1A0;
          .box__list.gram
            span.gram__name &#xC6A9;&#xB7C9;
            span.strong 180g
          .box__list.kcal
            span.kcal__name &#xCE7C;&#xB85C;&#xB9AC;
            span.strong 305kcal
          .box__list.ingredient
            span.ingredient__name &#xC6D0;&#xC0B0;&#xC9C0;
            span.strong &#xC0C1;&#xC138;&#xD398;&#xC774;&#xC9C0; &#xCC38;&#xACE0;
        // 그린푸드 메시지
        section.message.tab-content__sect
          h4.message__to
          p.message__advice
            | &#xB808;&#xB4DC;&#xD398;&#xD37C;&#xC640; &#xC9ED;&#xC870;&#xB984;&#xD55C; &#xC0C8;&#xC6B0;&#xB97C; &#xD65C;&#xC6A9;&#xD574; &#xB9E4;&#xCF64;&#xD55C; &#xC0D0;&#xB7EC;&#xB4DC;&#xB97C; &#xC120;&#xBCF4;&#xC5EC;&#xC694;. &#xB2E8;&#xBC31;&#xC9C8;&#xACFC; &#xCE7C;&#xC298;&#xC774; &#xD48D;&#xBD80;&#xD55C; &#xC0C8;&#xC6B0;&#xC5D0; &#xCF54;&#xCF54;&#xB11B; &#xC2AC;&#xB77C;&#xC774;&#xC2A4;&#xC640; &#xB808;&#xB4DC;&#xD398;&#xD37C;, &#xCCAD;&#xC591;&#xACE0;&#xCD94;, &#xC591;&#xD30C; &#xB4F1;&#xC744; &#xB123;&#xC5B4; &#xB9E4;&#xCF64;&#xD558;&#xAC8C; &#xBCF6;&#xC558;&#xC5B4;&#xC694;. &#xC5EC;&#xAE30;&#xC5D0; &#xBA54;&#xCD94;&#xB9AC;&#xC54C;&#xACFC; &#xACAC;&#xACFC;&#xB958;, &#xADF8;&#xB9B0;&#xBE48;&#xC2A4; &#xB9C8;&#xB298;&#xAD6C;&#xC774;&#xB97C; &#xD1A0;&#xD551;&#xC73C;&#xB85C; &#xC900;&#xBE44;&#xD588;&#xC5B4;&#xC694;. &#xB9C8;&#xC9C0;&#xB9C9;&#xC73C;&#xB85C; &#xC0C1;&#xD07C;&#xD55C; &#xB808;&#xBAAC; &#xB4DC;&#xB808;&#xC2F1;&#xC744; &#xBAA8;&#xB4E0; &#xD1A0;&#xD551;&#xACFC; &#xC2E0;&#xC120;&#xD55C; &#xCC44;&#xC18C;&#xC5D0; &#xACC1;&#xB4E4;&#xC5EC; &#xB4DC;&#xC2DC;&#xBA74; &#xB2E4;&#xCC44;&#xB86D;&#xAC8C; &#xC5B4;&#xC6B0;&#xB7EC;&#xC9C4; &#xB9DB;&#xC774; &#xD6CC;&#xB96D;&#xD560; &#xAC70;&#xC608;&#xC694;. 
            br
            br
            | PS. &#xC2E0;&#xC120;&#xD55C; &#xC0C1;&#xD488;&#xC744; &#xB9CC;&#xB4E4;&#xAE30; &#xC704;&#xD574; &#xC8FC;&#xBB38; &#xD6C4; &#xC81C;&#xC870;&#xD569;&#xB2C8;&#xB2E4;. &#xC720;&#xD1B5;&#xAE30;&#xD55C;&#xC740; &#xC81C;&#xC870;&#xC77C;&#xB85C;&#xBD80;&#xD130; 4&#xC77C;&#xC774;&#xB2C8;, &#xC548;&#xC804;&#xD558;&#xAC8C; &#xAE30;&#xD55C; &#xC548;&#xC5D0; &#xAF2D; &#xB4DC;&#xC138;&#xC694;. 
            span.message__advice__from
              | From. 
              strong &#xBC25;&#xC0C1;&#xC8FC;&#xCE58;&#xC758; &#xADF8;&#xB9AC;&#xD305;
              span.sign
                img(src='/front_mo/images/img_greating_sign.png', alt='')
        section.detailInfo.tab-content__sect
          div
            p
              img(src='/comn/getView?FILE_NAME=B101C7CD0E794CA7AF9631B9A092A6ED.jpg&ORG_FILE_NAME=@700x7000.jpg&SUB_PATH=editor/images/2021/09/28/edt_20200122092748073001')
              img(src='/comn/getView?FILE_NAME=96E12CBD60D74FA3B48A5A5694E45672.jpg&ORG_FILE_NAME=@700x1344.jpg&SUB_PATH=editor/images/2021/09/28/edt_20200122092748073001')
              br
        section.package.tab-content__sect
          h4.tab-content__sect__tit.middleLine
            span
              | greating&apos;s packaging
              span &#xC774;&#xB807;&#xAC8C; &#xD3EC;&#xC7A5;&#xB429;&#xB2C8;&#xB2E4;
          .package__thumb
            img(src='https://image.greating.co.kr/IL/item/202107/14/CE356A840BAE4F8895D7D69A3C2CAF35.jpg', alt='')
        section.nutri.tab-content__sect
          h4.tab-content__sect__tit.middleLine
            span
              | ingredients
              span &#xBAA8;&#xB4E0; &#xC7AC;&#xB8CC;&#xB97C; &#xD655;&#xC778;&#xD558;&#xC138;&#xC694;
          .nutri__thumb
            img(src='https://image.greating.co.kr/IL/item/202110/15/EFC7DF1FEC034719B127165CAA8802E7.JPG', alt='')
        section.notification.tab-content__sect
          h4.tab-content__sect__tit &#xC0C1;&#xD488;&#xC815;&#xBCF4;&#xC81C;&#xACF5;&#xACE0;&#xC2DC;
          button.btn_accd(type='button')
          ul.box
            li.box__list
              span.box__list__tit &#xC548;&#xC2EC;&#xC0AC;&#xC6A9;&#xAE30;&#xD55C;
              span.box__list__desc &#xC218;&#xB839; &#xD6C4; 2&#xC77C; &#xC774;&#xC0C1; &#xC0AC;&#xC6A9; &#xAC00;&#xB2A5;
            li.box__list
              span.box__list__tit &#xC81C;&#xD488;&#xBA85;
              span.box__list__desc &#xC0C1;&#xC138;&#xD398;&#xC774;&#xC9C0; &#xCC38;&#xACE0;
            li.box__list
              span.box__list__tit &#xC2DD;&#xD488;&#xC758; &#xC720;&#xD615;
              span.box__list__desc &#xC0C1;&#xC138;&#xD398;&#xC774;&#xC9C0; &#xCC38;&#xACE0;
            li.box__list
              span.box__list__tit &#xC0DD;&#xC0B0;&#xC790; &#xBC0F; &#xC18C;&#xC7AC;&#xC9C0;
              span.box__list__desc &#xC0C1;&#xC138;&#xD398;&#xC774;&#xC9C0; &#xCC38;&#xACE0;
            li.box__list
              span.box__list__tit &#xC81C;&#xC870;&#xC5F0;&#xC6D4;&#xC77C;, &#xC720;&#xD1B5;&#xAE30;&#xD55C; &#xB610;&#xB294; &#xD488;&#xC9C8;&#xC720;&#xC9C0;&#xAE30;&#xD55C;
              span.box__list__desc &#xC81C;&#xD488;&#xC5D0; &#xBCC4;&#xB3C4; &#xD45C;&#xAE30;
            li.box__list
              span.box__list__tit &#xD3EC;&#xC7A5;&#xB2E8;&#xC704;&#xBCC4; &#xB0B4;&#xC6A9;&#xBB3C;&#xC758; &#xC6A9;&#xB7C9;(&#xC911;&#xB7C9;), &#xC218;&#xB7C9;
              span.box__list__desc &#xC0C1;&#xC138;&#xD398;&#xC774;&#xC9C0; &#xCC38;&#xACE0;
            li.box__list
              span.box__list__tit &#xC6D0;&#xC7AC;&#xB8CC;&#xBA85; &#xBC0F; &#xD568;&#xB7C9;
              span.box__list__desc &#xC0C1;&#xC138;&#xD398;&#xC774;&#xC9C0; &#xCC38;&#xACE0;
            li.box__list
              span.box__list__tit &#xC601;&#xC591;&#xC131;&#xBD84;
              span.box__list__desc &#xC0C1;&#xC138;&#xD398;&#xC774;&#xC9C0; &#xCC38;&#xACE0;
            li.box__list
              span.box__list__tit &#xC720;&#xC804;&#xC790;&#xBCC0;&#xD615; &#xC2DD;&#xD488;&#xC5EC;&#xBD80;
              span.box__list__desc &#xD574;&#xB2F9;&#xC5C6;&#xC74C;
            li.box__list
              span.box__list__tit &#xC18C;&#xBE44;&#xC790;&#xC548;&#xC804;&#xC744; &#xC704;&#xD55C; &#xC8FC;&#xC758;&#xC0AC;&#xD56D;
              span.box__list__desc &#xC0C1;&#xC138;&#xD398;&#xC774;&#xC9C0; &#xCC38;&#xACE0;
            li.box__list
              span.box__list__tit &#xC218;&#xC785;&#xC2E0;&#xACE0; &#xD544; &#xC5EC;&#xBD80;
              span.box__list__desc &#xD574;&#xB2F9;&#xC5C6;&#xC74C;
            li.box__list
              span.box__list__tit &#xC18C;&#xBE44;&#xC790;&#xC0C1;&#xB2F4; &#xAD00;&#xB828; &#xC804;&#xD654;&#xBC88;&#xD638;
              span.box__list__desc 1800-0700
        section.item-area.tab-content__sect
          h4.tab-content__sect__tit &#xC5F0;&#xAD00;&#xC0C1;&#xD488;
          ul#dvWithItemsListArea.box
            li.box__list(data-item_id='100866')
              a(href='/market/marketDetail?itemId=100866')
                figure.box__list__thumb
                  img(src='https://image.greating.co.kr/IL/item/202107/14/M_F48429B058DA432CBD6026A5D6471587.jpg', alt='부드러운 닭가슴살 콥 샐러드 (S)')
              span.box__list__title &#xBD80;&#xB4DC;&#xB7EC;&#xC6B4; &#xB2ED;&#xAC00;&#xC2B4;&#xC0B4; &#xCF65; &#xC0D0;&#xB7EC;&#xB4DC; (S)
              span.box__list__price
                span.box__list__price-discounted-rate 10%
                del.box__list__price-origin 5,800&#xC6D0;
                span.box__list__price-discounted.strong 5,220&#xC6D0;
            li.box__list(data-item_id='100864')
              a(href='/market/marketDetail?itemId=100864')
                figure.box__list__thumb
                  img(src='https://image.greating.co.kr/IL/item/202107/14/M_B3933BA968F24F959821B8DFFDB5EA77.jpg', alt='멕시칸풍 타코 샐러드 (S/R)')
              span.box__list__title &#xBA55;&#xC2DC;&#xCE78;&#xD48D; &#xD0C0;&#xCF54; &#xC0D0;&#xB7EC;&#xB4DC; (S/R)
              span.box__list__price
                span.box__list__price-discounted-rate 10%
                del.box__list__price-origin 5,400&#xC6D0;
                span.box__list__price-discounted.strong 4,860&#xC6D0;
      // //상품정보
      // 상품후기
      #cont-review.tab-content.cont-review
        .head
          span.all
            | &#xC804;&#xCCB4; 
            span.all__num
              | (
              span#reviewCnt2 639
              | )
          em &#x203B; &#xC77C;&#xBD80; &#xD6A8;&#xB2A5;/&#xD6A8;&#xACFC; &#xAD00;&#xB828; &#xD6C4;&#xAE30;&#xB294; &#xAD6C;&#xB9E4;&#xC790;&#xC758; &#xC8FC;&#xAD00;&#xC801;&#xC778; &#xC18C;&#xACAC;&#xC774;&#xBA70; &#xAC1C;&#xC778;&#xBCC4;&#xB85C; &#xC0C1;&#xC774;&#xD560; &#xC218; &#xC788;&#xC2B5;&#xB2C8;&#xB2E4;.
        ul#dvGoodsFbListMainArea.box
          // dvGoodsFbListTemplate
          li.box__list.accordion
            .box__list__head.accordion__head
              strong.box__list__title
                | &#xC801;&#xB2F9;&#xD574;&#xC694;
              .writer-info
                span.writer-info__id kan*******
                |  | 
                span.writer-info__date 2021.12.12
                span.writer-info__time 18:12:56
            .accordion__cont
              .box__list__detail
                strong.box__list__title
                  | &#xC801;&#xB2F9;&#xD574;&#xC694;
                  //
                    <span class="box__list__photo"></span>
                .writer-info
                  span.writer-info__id kan*******
                  |  | 
                  span.writer-info__date 2021.12.12
                  span.writer-info__time 18:12:56
                .item
                  span.item__option &#xC635;&#xC158; : S)&#xC2A4;&#xD30C;&#xC774;&#xC2DC;&#xC26C;&#xB9BC;&#xD504;&#xC0D0;&#xB7EC;&#xB4DC;
                  .item__cont
                    | &#xBA54;&#xC778;&#xB514;&#xC26C; &#xD55C;&#xAC1C; &#xACC1;&#xB4E4;&#xC5EC; &#xBA39;&#xC744; &#xADF8;&#xB7F0;&#xC591;&#xC774;&#xACE0;
                    br
                    | &#xB9DB;&#xC788;&#xC5B4; &#xAD1C;&#xCC2E;&#xC544;&#xC694;
                    br
                    | &#xB3C4;&#xCC29;&#xD558;&#xC790;&#xB9C8;&#xC790; &#xBA39;&#xC73C;&#xBA74;
                    br
                    | &#xC5C4;&#xCCAD; &#xD504;&#xB808;&#xC26C; &#xD574;&#xC694;
          li.box__list.accordion
            .box__list__head.accordion__head
              strong.box__list__title
                | &#xB808;&#xBAAC;&#xB4DC;&#xB808;&#xC2F1;&#xC774; &#xC0C1;&#xD07C;&#xD574;&#xC694;
                span.box__list__photo
              .writer-info
                span.writer-info__id jil******
                |  | 
                span.writer-info__date 2021.12.10
                span.writer-info__time 15:08:21
            .accordion__cont
              .box__list__detail
                strong.box__list__title
                  | &#xB808;&#xBAAC;&#xB4DC;&#xB808;&#xC2F1;&#xC774; &#xC0C1;&#xD07C;&#xD574;&#xC694;
                  //
                    <span class="box__list__photo"></span>
                .writer-info
                  span.writer-info__id jil******
                  |  | 
                  span.writer-info__date 2021.12.10
                  span.writer-info__time 15:08:21
                .item
                  span.item__option &#xC635;&#xC158; : S)&#xC2A4;&#xD30C;&#xC774;&#xC2DC;&#xC26C;&#xB9BC;&#xD504;&#xC0D0;&#xB7EC;&#xB4DC;
                  .item__cont &#xB0B4;&#xC6A9;&#xBB3C;&#xB3C4; &#xC54C;&#xCC28;&#xACE0; &#xB4DC;&#xB808;&#xC2F1;&#xC774; &#xB9DB;&#xC788;&#xC5B4;&#xC694; &#xACAC;&#xACFC;&#xB958;&#xB791; &#xACE8;&#xACE0;&#xB8E8; &#xB4E4;&#xC5B4;&#xC788;&#xC5B4;&#xC11C; &#xAC00;&#xBCBC;&#xC6B4; &#xC544;&#xCE68;&#xC2DD;&#xC0AC;&#xB85C; &#xC801;&#xB2F9;&#xD574;&#xC694;
                  .item__img
                    img(src='https://image.greating.co.kr/CS/Feedback/A2509E26455341DE8222355F54F16AB8.jpg', alt='')
          li.box__list.accordion
            .box__list__head.accordion__head
              strong.box__list__title
                | &#xC591;&#xC774;&#xC880;&#xC544;&#xC26C;&#xC6CC;&#xC694;
              .writer-info
                span.writer-info__id K_1*********
                |  | 
                span.writer-info__date 2021.12.09
                span.writer-info__time 13:07:05
            .accordion__cont
              .box__list__detail
                strong.box__list__title
                  | &#xC591;&#xC774;&#xC880;&#xC544;&#xC26C;&#xC6CC;&#xC694;
                  //
                    <span class="box__list__photo"></span>
                .writer-info
                  span.writer-info__id K_1*********
                  |  | 
                  span.writer-info__date 2021.12.09
                  span.writer-info__time 13:07:05
                .item
                  span.item__option &#xC635;&#xC158; : S)&#xC2A4;&#xD30C;&#xC774;&#xC2DC;&#xC26C;&#xB9BC;&#xD504;&#xC0D0;&#xB7EC;&#xB4DC;
                  .item__cont
                    | &#xB4DC;&#xB808;&#xC2F1;&#xB3C4;&#xB9DB;&#xC788;&#xACE0; &#xC57C;&#xCC44;&#xB3C4; &#xC2F1;&#xC2F1;&#xD55C;&#xB370;
                    br
                    | &#xC2A4;&#xD30C;&#xC774;&#xC2DC;&#xD55C; &#xC26C;&#xB9BC;&#xD504;&#xB294; &#xC798;&#xBAA8;&#xB974;&#xACA0;&#xC5B4;&#xC694;
                    br
                    | &#xC591;&#xC774;&#xC880; &#xB354;&#xC788;&#xC74C;&#xC88B;&#xC744;&#xAEBC;&#xAC19;&#xC560;&#xC694;
          li.box__list.accordion
            .box__list__head.accordion__head
              strong.box__list__title
                | &#xC0D0;&#xB7EC;&#xB4DC;&#xAC00; &#xC2F1;&#xC2F1;&#xD574;&#xC694;.
                span.box__list__photo
              .writer-info
                span.writer-info__id sys*****
                |  | 
                span.writer-info__date 2021.12.09
                span.writer-info__time 12:09:34
            .accordion__cont
              .box__list__detail
                strong.box__list__title
                  | &#xC0D0;&#xB7EC;&#xB4DC;&#xAC00; &#xC2F1;&#xC2F1;&#xD574;&#xC694;.
                  //
                    <span class="box__list__photo"></span>
                .writer-info
                  span.writer-info__id sys*****
                  |  | 
                  span.writer-info__date 2021.12.09
                  span.writer-info__time 12:09:34
                .item
                  span.item__option &#xC635;&#xC158; : S)&#xC2A4;&#xD30C;&#xC774;&#xC2DC;&#xC26C;&#xB9BC;&#xD504;&#xC0D0;&#xB7EC;&#xB4DC;
                  .item__cont
                    | &#xC57C;&#xCC44;&#xAC00; &#xC2F1;&#xC2F1;&#xD588;&#xACE0; &#xD1A0;&#xD551;&#xC73C;&#xB85C; &#xC62C;&#xB9B0; &#xC0C8;&#xC6B0;&#xB098; &#xB9C8;&#xB298; &#xB4F1;&#xB3C4;
                    br
                    | &#xC591;&#xB150;&#xC774; &#xC798; &#xB418;&#xC5B4; &#xC788;&#xC5B4;&#xC11C; &#xB9DB;&#xC788;&#xC5C8;&#xC5B4;&#xC694;.
                    br
                    | &#xB4DC;&#xB808;&#xC2F1;&#xB3C4; &#xB9DB;&#xC788;&#xC5C8;&#xACE0;, &#xD55C;&#xB07C; &#xAC00;&#xBCCD;&#xAC8C; &#xBA39;&#xAE30; &#xC88B;&#xC544;&#xC694;.
                  .item__img
                    img(src='https://image.greating.co.kr/CS/Feedback/B1F2FC39655D45C7B15CA1ED9CBA9F60.jpg', alt='')
          li.box__list.accordion
            .box__list__head.accordion__head
              strong.box__list__title
                | &#xC0D0;&#xB7EC;&#xB4DC; &#xC911;&#xC5D0; &#xBCA0;&#xC2A4;&#xD2B8;&#xC608;&#xC694;
              .writer-info
                span.writer-info__id bsb*********
                |  | 
                span.writer-info__date 2021.12.08
                span.writer-info__time 11:21:16
            .accordion__cont
              .box__list__detail
                strong.box__list__title
                  | &#xC0D0;&#xB7EC;&#xB4DC; &#xC911;&#xC5D0; &#xBCA0;&#xC2A4;&#xD2B8;&#xC608;&#xC694;
                  //
                    <span class="box__list__photo"></span>
                .writer-info
                  span.writer-info__id bsb*********
                  |  | 
                  span.writer-info__date 2021.12.08
                  span.writer-info__time 11:21:16
                .item
                  span.item__option &#xC635;&#xC158; : S)&#xC2A4;&#xD30C;&#xC774;&#xC2DC;&#xC26C;&#xB9BC;&#xD504;&#xC0D0;&#xB7EC;&#xB4DC;
                  .item__cont
                    | &#xD68C;&#xC6D0;&#xAC00;&#xC785;&#xD574;&#xC11C; &#xC5EC;&#xB7EC;&#xC885;&#xB958; &#xC0D0;&#xB7EC;&#xB4DC; &#xC8FC;&#xBB38;&#xD55C; &#xAC83; &#xC911;&#xC5D0;&#xC11C; &#xC694;&#xAC8C; &#xC81C; &#xC785;&#xB9DB;&#xC5D0; &#xC81C;&#xC77C; &#xBCA0;&#xC2A4;&#xD2B8;&#xC600;&#xC5B4;&#xC694;~ &#xC0C8;&#xC6B0;&#xB3C4; &#xC2E0;&#xC120;&#xD588;&#xACE0; &#xB4DC;&#xB808;&#xC2F1;&#xB3C4; &#xB9DB;&#xC788;&#xC5B4;&#xC11C; &#xCC98;&#xC74C;&#xBD80;&#xD130; &#xB05D;&#xAE4C;&#xC9C0; &#xC798;&#xBA39;&#xC744; &#xC218; &#xC788;&#xC5C8;&#xC5B4;&#xC694;^^ &#xAC00;&#xBCBC;&#xC6B4; &#xB290;&#xB08C;&#xC73C;&#xB85C; &#xAC74;&#xAC15;&#xD55C; &#xD55C;&#xB07C;&#xD558;&#xAE30;&#xC5D0; &#xB531; &#xC88B;&#xC744; &#xAC70; &#xAC19;&#xC544;&#xC694;~!
          li.box__list.accordion
            .box__list__head.accordion__head
              strong.box__list__title
                | &#xC88B;&#xC544;&#xC694;
              .writer-info
                span.writer-info__id leh***
                |  | 
                span.writer-info__date 2021.12.08
                span.writer-info__time 00:47:53
            .accordion__cont
              .box__list__detail
                strong.box__list__title
                  | &#xC88B;&#xC544;&#xC694;
                  //
                    <span class="box__list__photo"></span>
                .writer-info
                  span.writer-info__id leh***
                  |  | 
                  span.writer-info__date 2021.12.08
                  span.writer-info__time 00:47:53
                .item
                  span.item__option &#xC635;&#xC158; : S)&#xC2A4;&#xD30C;&#xC774;&#xC2DC;&#xC26C;&#xB9BC;&#xD504;&#xC0D0;&#xB7EC;&#xB4DC;
                  .item__cont &#xADF8;&#xB9AC;&#xD305; &#xC0D0;&#xB7EC;&#xB4DC;&#xB294; &#xC5B8;&#xC81C;&#xB098; &#xB9CC;&#xC871;&#xC2A4;&#xB7EC;&#xC6CC;&#xC694; &#xB2E4;&#xC57C;&#xD55C; &#xC0D0;&#xB7EC;&#xB4DC;&#xB97C; &#xB9DB;&#xBCFC; &#xC218; &#xC788;&#xC5B4;&#xC11C; &#xC88B;&#xB124;&#xC694;
          li.box__list.accordion
            .box__list__head.accordion__head
              strong.box__list__title
                | &#xC18C;&#xC2A4;..
              .writer-info
                span.writer-info__id gus*****
                |  | 
                span.writer-info__date 2021.12.07
                span.writer-info__time 00:55:37
            .accordion__cont
              .box__list__detail
                strong.box__list__title
                  | &#xC18C;&#xC2A4;..
                  //
                    <span class="box__list__photo"></span>
                .writer-info
                  span.writer-info__id gus*****
                  |  | 
                  span.writer-info__date 2021.12.07
                  span.writer-info__time 00:55:37
                .item
                  span.item__option &#xC635;&#xC158; : S)&#xC2A4;&#xD30C;&#xC774;&#xC2DC;&#xC26C;&#xB9BC;&#xD504;&#xC0D0;&#xB7EC;&#xB4DC;
                  .item__cont &#xB3D9;&#xBD09;&#xB41C; &#xC18C;&#xC2A4;&#xB294; &#xB108;&#xBB34; &#xB2EC;&#xC544;&#xC11C; &#xC9D1;&#xC5D0; &#xC788;&#xB294; &#xD56B;&#xC18C;&#xC2A4; &#xB123;&#xC5B4;&#xC11C; &#xBA39;&#xB124;&#xC694;
          li.box__list.accordion
            .box__list__head.accordion__head
              strong.box__list__title
                | &#xB9DB;&#xC788;&#xC5B4;&#xC694;
              .writer-info
                span.writer-info__id lee****
                |  | 
                span.writer-info__date 2021.12.06
                span.writer-info__time 12:12:02
            .accordion__cont
              .box__list__detail
                strong.box__list__title
                  | &#xB9DB;&#xC788;&#xC5B4;&#xC694;
                  //
                    <span class="box__list__photo"></span>
                .writer-info
                  span.writer-info__id lee****
                  |  | 
                  span.writer-info__date 2021.12.06
                  span.writer-info__time 12:12:02
                .item
                  span.item__option &#xC635;&#xC158; : S)&#xC2A4;&#xD30C;&#xC774;&#xC2DC;&#xC26C;&#xB9BC;&#xD504;&#xC0D0;&#xB7EC;&#xB4DC;
                  .item__cont
                    | &#xC0C8;&#xCF64;&#xD55C; &#xB9DB;&#xC774; &#xC785;&#xB9DB; &#xB3CC;&#xAC8C; &#xD558;&#xB294; &#xC0D0;&#xB7EC;&#xB4DC;&#xC785;&#xB2C8;&#xB2E4;.
                    br
                    | &#xC790;&#xC8FC; &#xAD6C;&#xB9E4;&#xD558;&#xACE0; &#xC788;&#xC5B4;&#xC694;
          li.box__list.accordion
            .box__list__head.accordion__head
              strong.box__list__title
                | &#xCD5C;&#xC560; &#xC0D0;&#xB7EC;&#xB4DC;
                span.box__list__photo
              .writer-info
                span.writer-info__id wls**
                |  | 
                span.writer-info__date 2021.12.06
                span.writer-info__time 11:08:59
            .accordion__cont
              .box__list__detail
                strong.box__list__title
                  | &#xCD5C;&#xC560; &#xC0D0;&#xB7EC;&#xB4DC;
                  //
                    <span class="box__list__photo"></span>
                .writer-info
                  span.writer-info__id wls**
                  |  | 
                  span.writer-info__date 2021.12.06
                  span.writer-info__time 11:08:59
                .item
                  span.item__option &#xC635;&#xC158; : S)&#xC2A4;&#xD30C;&#xC774;&#xC2DC;&#xC26C;&#xB9BC;&#xD504;&#xC0D0;&#xB7EC;&#xB4DC;
                  .item__cont
                    | &#xC2E0;&#xC120;&#xD558;&#xACE0; &#xB9DB;&#xC788;&#xC5B4;&#xC694; 
                    br
                    | &#xC544;&#xCE68;&#xC5D0; &#xAC04;&#xB2E8;&#xD558;&#xAC8C; &#xBA39;&#xC5B4;&#xC694; 
                    br
                    | &#xC2E0;&#xC120;&#xD558;&#xACE0; &#xB9DB;&#xC788;&#xC5B4;&#xC694; &#xBC30;&#xC1A1;&#xB3C4; &#xBE60;&#xB974;&#xAD6C;&#xC694;
                  .item__img
                    img(src='https://image.greating.co.kr/CS/Feedback/0F854ACB17364F4EBAB6A0D95794B4D3.jpg', alt='')
          li.box__list.accordion
            .box__list__head.accordion__head
              strong.box__list__title
                | &#xAD1C;&#xCC2E;
              .writer-info
                span.writer-info__id kan*****
                |  | 
                span.writer-info__date 2021.12.06
                span.writer-info__time 10:42:09
            .accordion__cont
              .box__list__detail
                strong.box__list__title
                  | &#xAD1C;&#xCC2E;
                  //
                    <span class="box__list__photo"></span>
                .writer-info
                  span.writer-info__id kan*****
                  |  | 
                  span.writer-info__date 2021.12.06
                  span.writer-info__time 10:42:09
                .item
                  span.item__option &#xC635;&#xC158; : S)&#xC2A4;&#xD30C;&#xC774;&#xC2DC;&#xC26C;&#xB9BC;&#xD504;&#xC0D0;&#xB7EC;&#xB4DC;
                  .item__cont &#xC0C8;&#xC6B0; &#xC591;&#xC774; &#xC880; &#xC801;&#xC5B4;&#xC694; &#xC0AC;&#xC9C4;&#xBCF4;&#xB2E4;&#xB294;.&#xADF8;&#xB798;&#xB3C4; &#xCC44;&#xC18C;&#xAC00; &#xC2F1;&#xC2F1;&#xD558;&#xACE0; &#xB9DB;&#xC788;&#xB124;&#xC694;
        // 상품 후기 페이징 처리
        #pageNation.pagenation
          button.pageBtn.first(onclick="fnPgUtilRead('first')", style='display: none;')
            span.hidden &#xCC98;&#xC74C;&#xC73C;&#xB85C;
          button.pageBtn.prev(onclick="fnPgUtilRead('prev')", style='display: none;')
            span.hidden &#xC774;&#xC804;
          span#pager.pagenation__number
            span.active.paging
              span 1
            a.paging.dvChkAction(href='javascript:fnPgUtilRead(2)') 2
            a.paging.dvChkAction(href='javascript:fnPgUtilRead(3)') 3
            a.paging.dvChkAction(href='javascript:fnPgUtilRead(4)') 4
            a.paging.dvChkAction(href='javascript:fnPgUtilRead(5)') 5
            a.paging.dvChkAction(href='javascript:fnPgUtilRead(6)') 6
            a.paging.dvChkAction(href='javascript:fnPgUtilRead(7)') 7
            a.paging.dvChkAction(href='javascript:fnPgUtilRead(8)') 8
            a.paging.dvChkAction(href='javascript:fnPgUtilRead(9)') 9
            a.paging.dvChkAction(href='javascript:fnPgUtilRead(10)') 10
          button.pageBtn.next(onclick="fnPgUtilRead('next')")
            span.hidden &#xB2E4;&#xC74C;
          button.pageBtn.end(onclick="fnPgUtilRead('last')")
            span.hidden &#xB9C8;&#xC9C0;&#xB9C9;
      // //상품후기
      // 상품문의
      #cont-inquiry.tab-content.cont-inquiry
        .head
          span.all
            | &#xC804;&#xCCB4; 
            span.all__num
              | (
              span#qnaCnt2 5
              | )
          span.mine(style='display: none;')
            | &#xB0B4; &#xBB38;&#xC758; 
            span.all__num
              | (
              span#myQnaCnt 0
              | )
          .sorting-area
            .hd__custom-select.hd__custom-select--type2
              select#sendChoice
                option(value='') &#xBD84;&#xB958;&#xC804;&#xCCB4;
        ul#qnaListArea.box
          // dvMyInquiryListTemplate
          li.box__list.accordion
            .box__list__head.accordion__head
              span.box__list__sort [&#xC0C1;&#xD488;]
              strong.box__list__title
                | &#xB4DC;&#xB808;&#xC2F1; &#xCE7C;&#xB85C;&#xB9AC;&#xAC00; &#xC5BC;&#xB9C8;&#xC778;&#xAC00;&#xC5EC;
              .writer-info
                span.writer-info__id gt2*********
                |  | 
                span.writer-info__date 2021.10.14
                span.writer-info__time 13:56:44
              span.box__list__process &#xB2F5;&#xBCC0;&#xC644;&#xB8CC;
            .box__list__cont.accordion__cont
              span.box__list__sort [&#xC0C1;&#xD488;]
              .boxInner
                .detail
                  strong.box__list__title
                    | &#xB4DC;&#xB808;&#xC2F1; &#xCE7C;&#xB85C;&#xB9AC;&#xAC00; &#xC5BC;&#xB9C8;&#xC778;&#xAC00;&#xC5EC;
                    span.box__list__photo
                  .writer-info
                    span.writer-info__id gt2*********
                    |  | 
                    span.writer-info__date 2021.10.14
                    span.writer-info__time 13:56:44
                  span.box__list__process &#xB2F5;&#xBCC0;&#xC644;&#xB8CC;
                  p.boxInner__cont &#xB4DC;&#xB808;&#xC2F1; &#xCE7C;&#xB85C;&#xB9AC;&#xC694;
                .review
                  span.box__list__tag &#xB2F5;&#xBCC0;
                  .review__text
                    | &#xC548;&#xB155;&#xD558;&#xC138;&#xC694;. &#xC6B0;&#xB9AC; &#xC9D1; &#xBC25;&#xC0C1; &#xC8FC;&#xCE58;&#xC758; &#xADF8;&#xB9AC;&#xD305; &#xACE0;&#xAC1D;&#xC13C;&#xD130;&#xC785;&#xB2C8;&#xB2E4;.
                    br
                    |  &#xADF8;&#xB9AC;&#xD305; &#xBAB0;&#xC744; &#xC774;&#xC6A9;&#xD574;&#xC8FC;&#xC154;&#xC11C; &#xAC10;&#xC0AC;&#xD569;&#xB2C8;&#xB2E4;.
                    br
                    br
                    |  &#xACE0;&#xAC1D;&#xB2D8; &#xBB38;&#xC758;&#xD558;&#xC2E0; &#xB0B4;&#xC6A9; &#xC548;&#xB0B4; &#xB4DC;&#xB9AC;&#xACA0;&#xC2B5;&#xB2C8;&#xB2E4;.
                    br
                    br
                    | &#xB808;&#xBAAC; &#xB4DC;&#xB808;&#xC2F1;
                    br
                    | &#xC5F4;&#xB7C9; 141kcal &#xB098;&#xD2B8;&#xB968; 208mg (30g)
                    br
                    br
                    | &#xAC74;&#xAC15;&#xD55C; &#xC0C1;&#xD488;, &#xB9CC;&#xC871;&#xC2A4;&#xB7EC;&#xC6B4; &#xC11C;&#xBE44;&#xC2A4;&#xB85C; &#xACE0;&#xAC1D;&#xB2D8;&#xC744; &#xCC3E;&#xC544;&#xBD59;&#xAE30; &#xC704;&#xD574; &#xD56D;&#xC0C1; &#xB178;&#xB825;&#xD558;&#xB294; &#xADF8;&#xB9AC;&#xD305;&#xC774; &#xB418;&#xACA0;&#xC2B5;&#xB2C8;&#xB2E4;.
                    br
                    br
                    | &#xCD94;&#xAC00; &#xBB38;&#xC758;&#xC0AC;&#xD56D;&#xC774; &#xC788;&#xC73C;&#xC2DC;&#xBA74; &#xC5B8;&#xC81C;&#xB4E0; &#xACE0;&#xAC1D;&#xC13C;&#xD130;(&phone;1800-0700) / [1:1 &#xBB38;&#xC758; &#xAC8C;&#xC2DC;&#xD310;] / &#xC2E4;&#xC2DC;&#xAC04; &#xCE74;&#xCE74;&#xC624;&#xD1A1; &#xCC44;&#xD305; &#xC0C1;&#xB2F4;&#xC744; &#xC774;&#xC6A9; &#xBD80;&#xD0C1;&#xB4DC;&#xB9BD;&#xB2C8;&#xB2E4;.
                    br
                    br
                    | &#xAC10;&#xC0AC;&#xD569;&#xB2C8;&#xB2E4;.
                    br
                    | &#xADF8;&#xB9AC;&#xD305; &#xB4DC;&#xB9BC;
                    br
                  .writer-info
                    span.writer-info__id &#xB2F4;&#xB2F9;&#xC790;
                    |  | 
                    span.writer-info__date 2021.10.14
                    span.writer-info__time 14:20:12
          li.box__list.accordion
            .box__list__head.accordion__head
              span.box__list__sort [&#xC0C1;&#xD488;]
              strong.box__list__title
                | &#xC720;&#xD1B5;&#xAE30;&#xD55C;&#xBB38;&#xC758;
              .writer-info
                span.writer-info__id gwp******
                |  | 
                span.writer-info__date 2021.08.25
                span.writer-info__time 08:26:56
              span.box__list__process &#xB2F5;&#xBCC0;&#xC644;&#xB8CC;
            .box__list__cont.accordion__cont
              span.box__list__sort [&#xC0C1;&#xD488;]
              .boxInner
                .detail
                  strong.box__list__title
                    | &#xC720;&#xD1B5;&#xAE30;&#xD55C;&#xBB38;&#xC758;
                    span.box__list__photo
                  .writer-info
                    span.writer-info__id gwp******
                    |  | 
                    span.writer-info__date 2021.08.25
                    span.writer-info__time 08:26:56
                  span.box__list__process &#xB2F5;&#xBCC0;&#xC644;&#xB8CC;
                  p.boxInner__cont &#xB0C9;&#xC7A5;&#xBCF4;&#xAD00;&#xAC19;&#xC740;&#xB370; &#xBC1B;&#xACE0; &#xBA70;&#xCE60;&#xC548;&#xC5D0; &#xBA39;&#xC5B4;&#xC57C;&#xD558;&#xB098;&#xC694;~?
                .review
                  span.box__list__tag &#xB2F5;&#xBCC0;
                  .review__text
                    | &#xC548;&#xB155;&#xD558;&#xC138;&#xC694;. &#xC6B0;&#xB9AC; &#xC9D1; &#xBC25;&#xC0C1; &#xC8FC;&#xCE58;&#xC758; &#xADF8;&#xB9AC;&#xD305; &#xACE0;&#xAC1D;&#xC13C;&#xD130;&#xC785;&#xB2C8;&#xB2E4;.
                    br
                    | &#xADF8;&#xB9AC;&#xD305; &#xBAB0;&#xC744; &#xC774;&#xC6A9;&#xD574;&#xC8FC;&#xC154;&#xC11C; &#xAC10;&#xC0AC;&#xD569;&#xB2C8;&#xB2E4;.  
                    br
                    br
                    | &#xBB38;&#xC758;&#xC8FC;&#xC2E0; &#xC2A4;&#xD30C;&#xC774;&#xC2DC; &#xC26C;&#xB9BC;&#xD504; &#xC0D0;&#xB7EC;&#xB4DC;&#xB294;  &#xC989;&#xC11D;&#xC12D;&#xCDE8; &#xC0C1;&#xD488;&#xC774;&#xB2E4; &#xBCF4;&#xB2C8; &#xC720;&#xD1B5;&#xAE30;&#xD55C;&#xC740; &#xC81C;&#xC870;&#xC77C;&#xB85C;&#xBD80;&#xD130; 96&#xC2DC;&#xAC04;, &#xB9CC;4&#xC77C; &#xC785;&#xB2C8;&#xB2E4;. 
                    br
                    | &#xC8FC;&#xBB38;&#xC77C;&#xC5D0; &#xB530;&#xB77C; &#xC81C;&#xC870;&#xC77C;&#xC2DC;&#xC640; &#xC720;&#xD1B5;&#xAE30;&#xD55C;&#xC740; &#xC0C1;&#xC774;&#xD558;&#xC5EC; &#xC0C1;&#xD488; &#xC218;&#xB839; &#xD6C4; &#xC81C;&#xC870;&#xC77C;&#xC2DC;&#xC640; &#xC720;&#xD1B5;&#xAE30;&#xD55C; &#xD45C;&#xAE30; &#xD655;&#xC778; &#xD558;&#xC2DC;&#xACE0;, &#xC720;&#xD1B5;&#xAE30;&#xD55C;&#xB0B4;&#xAE4C;&#xC9C0; &#xC12D;&#xCDE8; &#xBD80;&#xD0C1;&#xB4DC;&#xB9BD;&#xB2C8;&#xB2E4;.  
                    br
                    br
                    | &#xC88B;&#xC740;&#xC0C1;&#xD488;, &#xB9CC;&#xC871;&#xC2A4;&#xB7EC;&#xC6B4; &#xC11C;&#xBE44;&#xC2A4;, &#xD3B8;&#xB9AC;&#xD55C; &#xC1FC;&#xD551;&#xD658;&#xACBD;&#xC73C;&#xB85C; &#xACE0;&#xAC1D;&#xB2D8;&#xC744; &#xCC3E;&#xC544;&#xBD59;&#xAE30; &#xC704;&#xD574; &#xD56D;&#xC0C1; &#xB178;&#xB825;&#xD558;&#xB294; &#xADF8;&#xB9AC;&#xD305;&#xC774; &#xB418;&#xACA0;&#xC2B5;&#xB2C8;&#xB2E4;.
                    br
                    br
                    | &#xCD94;&#xAC00; &#xBB38;&#xC758;&#xC0AC;&#xD56D;&#xC774; &#xC788;&#xC73C;&#xC2DC;&#xBA74; &#xC5B8;&#xC81C;&#xB4E0; &#xACE0;&#xAC1D;&#xC13C;&#xD130;(&phone;1800-0700) / [1:1 &#xBB38;&#xC758; &#xAC8C;&#xC2DC;&#xD310;] / &#xC2E4;&#xC2DC;&#xAC04; &#xCE74;&#xCE74;&#xC624;&#xD1A1; &#xCC44;&#xD305; &#xC0C1;&#xB2F4;&#xC744; &#xC774;&#xC6A9; &#xBD80;&#xD0C1;&#xB4DC;&#xB9BD;&#xB2C8;&#xB2E4;.
                    br
                    | &#xAC10;&#xC0AC;&#xD569;&#xB2C8;&#xB2E4;.
                    br
                    | &#xADF8;&#xB9AC;&#xD305; &#xB4DC;&#xB9BC;
                  .writer-info
                    span.writer-info__id &#xB2F4;&#xB2F9;&#xC790;
                    |  | 
                    span.writer-info__date 2021.08.26
                    span.writer-info__time 09:22:21
          li.box__list.accordion
            .box__list__head.accordion__head
              span.box__list__sort [&#xC0C1;&#xD488;]
              strong.box__list__title
                | &#xC774;&#xAC70; &#xC18C;&#xC2A4;&#xBE7C;&#xAC70;
              .writer-info
                span.writer-info__id K_1*********
                |  | 
                span.writer-info__date 2021.07.19
                span.writer-info__time 14:50:41
              span.box__list__process &#xB2F5;&#xBCC0;&#xC644;&#xB8CC;
            .box__list__cont.accordion__cont
              span.box__list__sort [&#xC0C1;&#xD488;]
              .boxInner
                .detail
                  strong.box__list__title
                    | &#xC774;&#xAC70; &#xC18C;&#xC2A4;&#xBE7C;&#xAC70; 
                    span.box__list__photo
                  .writer-info
                    span.writer-info__id K_1*********
                    |  | 
                    span.writer-info__date 2021.07.19
                    span.writer-info__time 14:50:41
                  span.box__list__process &#xB2F5;&#xBCC0;&#xC644;&#xB8CC;
                  p.boxInner__cont
                    | &#xC774;&#xAC70; &#xC18C;&#xC2A4; &#xBE7C;&#xACE0; &#xBA39;&#xC73C;&#xBA74; &#xBA87;&#xCE7C;&#xB85C;&#xB9AC;&#xC5D0;&#xC694;?
                    br
                    | &#xC18C;&#xC2A4;&#xB9CC; &#xBA87;&#xCE7C;&#xB85C;&#xB9AC;&#xC5D0;&#xC694;? 
                    br
                    br
                    | (&#xBCF8;&#xBB38;&#xB0B4;&#xC6A9; &#xADF8;&#xB300;&#xB85C; &#xBCF5;&#xFF1F;&#xD558;&#xC9C0;&#xB9C8;&#xC2DC;&#xAD6C;&#xC694; 
                    br
                    | &#xC5BC;&#xB9C8;&#xC804;&#xC5D0; &#xBDF0;&#xD2F0;&#xD54F; &#xB3C4;&#xC2DC;&#xB77D;&#xB3C4; &#xBC25;&#xC591;&#xC774;&#xB791; &#xCE7C;&#xB85C;&#xB9AC; &#xBB3C;&#xC5B4;&#xBD24;&#xB354;&#xB2C8; 
                    br
                    | &#xBCF8;&#xBB38; &#xB0B4;&#xC6A9; &#xADF8;&#xB300;&#xB85C; &#xBCF5;&#xC0AC;&#xD588;&#xB354;&#xB77C;&#xAD6C;&#xC694; 
                    br
                    br
                    | &#xADF8;&#xB807;&#xAC8C; &#xB2F5;&#xBCC0; &#xC801;&#xC73C;&#xC2DC;&#xBA74; &#xAC1C;&#xC778;&#xC801;&#xC73C;&#xB85C; &#xB610; &#xAE00;&#xB0A8;&#xAE30;&#xAC70;&#xB098; &#xC804;&#xD654;&#xD574;&#xC57C;&#xB418;&#xC790;&#xB098;&#xC694;)
                .review
                  span.box__list__tag &#xB2F5;&#xBCC0;
                  .review__text
                    | &#xC548;&#xB155;&#xD558;&#xC138;&#xC694;. &#xC6B0;&#xB9AC; &#xC9D1; &#xBC25;&#xC0C1; &#xC8FC;&#xCE58;&#xC758; &#xADF8;&#xB9AC;&#xD305; &#xACE0;&#xAC1D;&#xC13C;&#xD130;&#xC785;&#xB2C8;&#xB2E4;.
                    br
                    | &#xADF8;&#xB9AC;&#xD305; &#xBAB0;&#xC744; &#xC774;&#xC6A9;&#xD574;&#xC8FC;&#xC154;&#xC11C; &#xAC10;&#xC0AC;&#xD569;&#xB2C8;&#xB2E4;.
                    br
                    br
                    | &#xC2A4;&#xD30C;&#xC774;&#xC2DC;&#xC26C;&#xB9BC;&#xD504; &#xC0D0;&#xB7EC;&#xB4DC; (S) &#xC0AC;&#xC774;&#xC988;&#xC758; &#xC6A9;&#xB7C9; &#xBC0F; &#xCE7C;&#xB85C;&#xB9AC;&#xB294; &#xB4DC;&#xB808;&#xC2F1; 30g/ 141kcal&#xB97C; &#xD3EC;&#xD568;&#xD55C; 180g/305kcal &#xC785;&#xB2C8;&#xB2E4;. 
                    br
                    br
                    | &#xB4DC;&#xB808;&#xC2F1;&#xC744; &#xC81C;&#xC678;&#xD55C; &#xC0D0;&#xB7EC;&#xB4DC;&#xC758; &#xC6A9;&#xB7C9; &#xBC0F; &#xC5F4;&#xB7C9;&#xC740; 150g/164kcal &#xC785;&#xB2C8;&#xB2E4;. 
                    br
                    br
                    | &#xC800;&#xD76C; &#xADF8;&#xB9AC;&#xD305; &#xC0D0;&#xB7EC;&#xB4DC;&#xC758; &#xB4DC;&#xB808;&#xC2F1;&#xC740; &#xC124;&#xD0D5; &#xB300;&#xC2E0; &#xC561;&#xC0C1; &#xC54C;&#xB8F0;&#xB85C;&#xC2A4; &#xC0AC;&#xC6A9; &#xBC0F; 5&#xAC00;&#xC9C0;&#xC758; &#xC88B;&#xC9C0; &#xC54A;&#xC740; &#xC131;&#xBD84;&#xC744; &#xBB34;&#xCCA8;&#xAC00;&#xD574; &#xAE50;&#xAE50;&#xD558;&#xAC8C; &#xC124;&#xACC4;&#xD55C; &#xAC74;&#xAC15;&#xD55C; &#xB4DC;&#xB808;&#xC2F1;&#xC785;&#xB2C8;&#xB2E4;. 
                    br
                    br
                    | &#xAC01; &#xC0D0;&#xB7EC;&#xB4DC;&#xB9C8;&#xB2E4; &#xD1A0;&#xD551;&#xC5D0; &#xC5B4;&#xC6B8;&#xB9AC;&#xB294; &#xB4DC;&#xB808;&#xC2F1;&#xC744; &#xC120;&#xD0DD;&#xD558;&#xC600;&#xC73C;&#xB2C8;, &#xB4DC;&#xB808;&#xC2F1;&#xC744; &#xBE7C;&#xACE0; &#xB4DC;&#xC2DC;&#xB294;&#xAC83;&#xB3C4; &#xC88B;&#xC9C0;&#xB9CC;,  &#xC870;&#xAE08;&#xC774;&#xB77C;&#xB3C4; &#xB123;&#xC73C;&#xC154;&#xC11C; &#xD48D;&#xC131;&#xD55C; &#xC0D0;&#xB7EC;&#xB4DC;&#xC758; &#xB9DB;&#xC744; &#xC990;&#xACA8;&#xBCF4;&#xC2DC;&#xBA74; &#xC88B;&#xC744;&#xAC83;&#xAC19;&#xC2B5;&#xB2C8;&#xB2E4;.
                    br
                    br
                    | &#xC88B;&#xC740;&#xC0C1;&#xD488;, &#xB9CC;&#xC871;&#xC2A4;&#xB7EC;&#xC6B4; &#xC11C;&#xBE44;&#xC2A4;, &#xD3B8;&#xB9AC;&#xD55C; &#xC1FC;&#xD551;&#xD658;&#xACBD;&#xC73C;&#xB85C; &#xACE0;&#xAC1D;&#xB2D8;&#xC744; &#xCC3E;&#xC544;&#xBD59;&#xAE30; &#xC704;&#xD574; &#xD56D;&#xC0C1; &#xB178;&#xB825;&#xD558;&#xB294; &#xADF8;&#xB9AC;&#xD305;&#xC774; &#xB418;&#xACA0;&#xC2B5;&#xB2C8;&#xB2E4;.
                    br
                    br
                    | &#xCD94;&#xAC00; &#xBB38;&#xC758;&#xC0AC;&#xD56D;&#xC774; &#xC788;&#xC73C;&#xC2DC;&#xBA74; &#xC5B8;&#xC81C;&#xB4E0; &#xACE0;&#xAC1D;&#xC13C;&#xD130;(&phone;1800-0700) / [1:1 &#xBB38;&#xC758; &#xAC8C;&#xC2DC;&#xD310;] / &#xC2E4;&#xC2DC;&#xAC04; &#xCE74;&#xCE74;&#xC624;&#xD1A1; &#xCC44;&#xD305; &#xC0C1;&#xB2F4;&#xC744; &#xC774;&#xC6A9; &#xBD80;&#xD0C1;&#xB4DC;&#xB9BD;&#xB2C8;&#xB2E4;.
                    br
                    | &#xAC10;&#xC0AC;&#xD569;&#xB2C8;&#xB2E4;.
                    br
                    br
                    | &#xADF8;&#xB9AC;&#xD305; &#xB4DC;&#xB9BC;
                    br
                  .writer-info
                    span.writer-info__id &#xB2F4;&#xB2F9;&#xC790;
                    |  | 
                    span.writer-info__date 2021.07.19
                    span.writer-info__time 17:55:55
          li.box__list.accordion
            .box__list__head.accordion__head
              span.box__list__sort [&#xC0C1;&#xD488;]
              strong.box__list__title.secret
                | &#xBE44;&#xACF5;&#xAC1C; &#xBB38;&#xC758; &#xC785;&#xB2C8;&#xB2E4;.
              .writer-info
                span.writer-info__id soo***
                |  | 
                span.writer-info__date 2021.06.26
                span.writer-info__time 23:54:29
              span.box__list__process &#xB2F5;&#xBCC0;&#xC644;&#xB8CC;
            .box__list__cont.accordion__cont
              span.box__list__sort [&#xC0C1;&#xD488;]
              .boxInner
                .detail
                  strong.box__list__title
                    | &#xBE44;&#xACF5;&#xAC1C; &#xBB38;&#xC758; &#xC785;&#xB2C8;&#xB2E4;.
                    span.box__list__photo
                  .writer-info
                    span.writer-info__id soo***
                    |  | 
                    span.writer-info__date 2021.06.26
                    span.writer-info__time 23:54:29
                  span.box__list__process &#xB2F5;&#xBCC0;&#xC644;&#xB8CC;
                  p.boxInner__cont &#xBE44;&#xACF5;&#xAC1C; &#xBB38;&#xC758; &#xC785;&#xB2C8;&#xB2E4;.
                .review
                  span.box__list__tag &#xB2F5;&#xBCC0;
                  .review__text
                    | &#xBE44;&#xACF5;&#xAC1C; &#xBB38;&#xC758; &#xC785;&#xB2C8;&#xB2E4;.
                  .writer-info
                    span.writer-info__id &#xB2F4;&#xB2F9;&#xC790;
                    |  | 
                    span.writer-info__date 2021.06.28
                    span.writer-info__time 13:32:33
          li.box__list.accordion
            .box__list__head.accordion__head
              span.box__list__sort [&#xBC30;&#xC1A1;]
              strong.box__list__title
                | &#xC8FC;&#xBB38;&#xB54C; &#xBD84;&#xBA85; 26&#xC77C;&#xB0A0; &#xC608;&#xC815;&#xC774;&#xB77C; &#xC368;&#xC788;&#xC5B4;&#xC11C; &#xC8FC;&#xBB38;&#xD55C;&#xAC74;&#xB370;;;
              .writer-info
                span.writer-info__id K_1*********
                |  | 
                span.writer-info__date 2020.12.25
                span.writer-info__time 13:01:22
              span.box__list__process &#xB2F5;&#xBCC0;&#xC644;&#xB8CC;
            .box__list__cont.accordion__cont
              span.box__list__sort [&#xBC30;&#xC1A1;]
              .boxInner
                .detail
                  strong.box__list__title
                    | &#xC8FC;&#xBB38;&#xB54C; &#xBD84;&#xBA85; 26&#xC77C;&#xB0A0; &#xC608;&#xC815;&#xC774;&#xB77C; &#xC368;&#xC788;&#xC5B4;&#xC11C; &#xC8FC;&#xBB38;&#xD55C;&#xAC74;&#xB370;;;
                    span.box__list__photo
                  .writer-info
                    span.writer-info__id K_1*********
                    |  | 
                    span.writer-info__date 2020.12.25
                    span.writer-info__time 13:01:22
                  span.box__list__process &#xB2F5;&#xBCC0;&#xC644;&#xB8CC;
                  p.boxInner__cont
                    | 26&#xC77C; &#xBC30;&#xC1A1;&#xC608;&#xC815;&#xC774;&#xB77C;&#xACE0; &#xC368;&#xC788;&#xC5B4;&#xC11C; &#xC8FC;&#xBB38;&#xD55C;&#xAC74;&#xB370;...;;
                    br
                    | &#xC624;&#xB298; &#xC8FC;&#xBB38;&#xD655;&#xC778;&#xC744; &#xBCF4;&#xB2C8;28&#xC77C; &#xBC30;&#xC1A1;&#xC774;&#xB77C;&#xACE0; &#xB5A0;&#xC788;&#xB124;&#xC694;
                    br
                    | 28&#xC77C;&#xB0A0; &#xBC30;&#xC1A1;&#xB418;&#xB294; &#xAC74;&#xAC00;&#xC694;?
                .review
                  span.box__list__tag &#xB2F5;&#xBCC0;
                  .review__text
                    | &#xC548;&#xB155;&#xD558;&#xC138;&#xC694;. &#xC6B0;&#xB9AC; &#xC9D1; &#xBC25;&#xC0C1; &#xC8FC;&#xCE58;&#xC758; &#xADF8;&#xB9AC;&#xD305; &#xACE0;&#xAC1D;&#xC13C;&#xD130;&#xC785;&#xB2C8;&#xB2E4;.
                    br
                    | &#xADF8;&#xB9AC;&#xD305;&#xC744; &#xC774;&#xC6A9;&#xD574;&#xC8FC;&#xC154;&#xC11C; &#xAC10;&#xC0AC;&#xD569;&#xB2C8;&#xB2E4;.
                    br
                    br
                    | &#xC8FC;&#xBB38;&#xBC88;&#xD638; [201224000165547] &#xC740; 12&#xC6D4;28&#xC77C;&#xC5D0; &#xBC30;&#xC1A1;&#xB428;&#xC744; &#xC548;&#xB0B4;&#xB4DC;&#xB9BD;&#xB2C8;&#xB2E4;.
                    br
                    | &#xC77C;&#xBC18;&#xBC30;&#xC1A1;(&#xB86F;&#xB370;&#xD0DD;&#xBC30;)&#xC758; &#xACBD;&#xC6B0; 12/25&#xC77C;~27&#xC77C;&#xAE4C;&#xC9C0; &#xBC30;&#xC1A1;&#xC0AC; &#xD734;&#xBB34;&#xC785;&#xB2C8;&#xB2E4;.
                    br
                    br
                    | &#xC88B;&#xC740;&#xC0C1;&#xD488;, &#xB9CC;&#xC871;&#xC2A4;&#xB7EC;&#xC6B4; &#xC11C;&#xBE44;&#xC2A4;, &#xD3B8;&#xB9AC;&#xD55C; &#xC1FC;&#xD551;&#xD658;&#xACBD;&#xC73C;&#xB85C; &#xACE0;&#xAC1D;&#xB2D8;&#xC744; &#xCC3E;&#xC544;&#xBD59;&#xAE30; &#xC704;&#xD574; &#xD56D;&#xC0C1; &#xB178;&#xB825;&#xD558;&#xB294; &#xADF8;&#xB9AC;&#xD305;&#xC774; &#xB418;&#xACA0;&#xC2B5;&#xB2C8;&#xB2E4;.
                    br
                    br
                    | &#xCD94;&#xAC00; &#xBB38;&#xC758;&#xC0AC;&#xD56D;&#xC774; &#xC788;&#xC73C;&#xC2DC;&#xBA74; &#xC5B8;&#xC81C;&#xB4E0; &#xACE0;&#xAC1D;&#xC13C;&#xD130;(&phone;1800-0700) / [1:1 &#xBB38;&#xC758; &#xAC8C;&#xC2DC;&#xD310;] / &#xC2E4;&#xC2DC;&#xAC04; &#xCE74;&#xCE74;&#xC624;&#xD1A1; &#xCC44;&#xD305; &#xC0C1;&#xB2F4;&#xC744; &#xC774;&#xC6A9; &#xBD80;&#xD0C1;&#xB4DC;&#xB9BD;&#xB2C8;&#xB2E4;.
                    br
                    | &#xAC10;&#xC0AC;&#xD569;&#xB2C8;&#xB2E4;.
                    br
                    | &#xADF8;&#xB9AC;&#xD305; &#xB4DC;&#xB9BC;
                  .writer-info
                    span.writer-info__id &#xB2F4;&#xB2F9;&#xC790;
                    |  | 
                    span.writer-info__date 2020.12.26
                    span.writer-info__time 07:11:06
        .no-list-wrap
          .no-list(style='display:none; margin-top:-1px;')
            p &#xB4F1;&#xB85D;&#xB41C; &#xC0C1;&#xD488;&#xBB38;&#xC758;&#xAC00; &#xC5C6;&#xC2B5;&#xB2C8;&#xB2E4;.
          .btn
            a#productWriteBtn.btn__write.btn-init.green.btn__modal-open(href='#', data-login='y', data-popup-name='popup_productWrite') &#xC0C1;&#xD488;&#xBB38;&#xC758; &#xC791;&#xC131;
        // 상품문의 페이징 처리
        #pageNation2.pagenation
          button.pageBtn.first(onclick="fnPgUtilRead2('first')", style='display: none;')
            span.hidden &#xCC98;&#xC74C;&#xC73C;&#xB85C;
          button.pageBtn.prev(onclick="fnPgUtilRead2('prev')", style='display: none;')
            span.hidden &#xC774;&#xC804;
          span#abcdefghightqqqcccdddeefff2.pagenation__number
            span.active.paging
              span 1
          button.pageBtn.next(onclick="fnPgUtilRead2('next')", style='display: none;')
            span.hidden &#xB2E4;&#xC74C;
          button.pageBtn.end(onclick="fnPgUtilRead2('last')", style='display: none;')
            span.hidden &#xB9C8;&#xC9C0;&#xB9C9;
      // //상품문의
      // 배송/교환
      #cont-notice.tab-content.cont-notice
        ul.box
          li.box__list.accordion
            .box__list__cont(style='display:block !important;')
              script#itemDetailNoticeTemplate(type='text/x-handlebars-template').
                {{#if DESC_HTML}}{{{HELPER_HTML DESC_HTML}}}{{/if}}
      // 배송/교환
    .layer-opacity
    #dvMiniCart.option-area
      .btn-option
        .btn.dvMiniCartOpen(dvitemid='100865', data-url='cart')
          a#btnSelOption.btn-init.green(href='#')
            | &#xC635;&#xC158;&#xC120;&#xD0DD;
      article.minicart
        .minicart__inner
          section#dvMiniCartItemOptionSelect.input
          section#dvMiniCartOrderArea.output
          .total
            span#optnNeedVal.total__text
            span.relative
              | &#xCD1D; &#xC0C1;&#xD488;&#xAE08;&#xC561;
              span.discount-tooltip.hide
            span.total__price
              span#dvMiniCartTotalPrice 0
              | &#xC6D0;
          .btn-area
            button.btn-heart.btn__heart__cock(onclick='fnComnWishItem(100865);')
              span &#xAD00;&#xC2EC;&#xC0C1;&#xD488;
            .btn
              button#dvMiniCartButtonCart2.btn-init.orange(dvitemid='100865', data-url='cart') &#xC7A5;&#xBC14;&#xAD6C;&#xB2C8; &#xB2F4;&#xAE30;
              button#dvMiniCartButtonOrder3.btn-init.green(dvitemid='100865', data-url='buynow')
                | &#xBC14;&#xB85C;&#xAD6C;&#xB9E4;
