style.
    #contents{margin: 0 5%;} .productIntro{display: flex;}
    .InproductIntro2{margin-left: 40px;}

#contents
    #nav HOME > 진한 국/찌개 > 국
    .productIntro
        .InproductIntro1
            a(href="#")
                img(src="https://image.greating.co.kr/IL/item/202107/14/B3933BA968F24F959821B8DFFDB5EA77.jpg" width=550 height=550)
                
        .InproductIntro2
            .subDesc 타코 드레싱
            .pName 멕시칸풍 타코 샐러드 (S/R)
            .pfrom 원산지 : 상세페이지 참고
            .favorite 
                a(href="#")
                    img(src="" alt="찜")
            .productShare
                a(href="#")
                    img(src="" alt="공유")
            hr
            .Price 9,000원
            hr
            .deliverInfo
                .delInfo 배송정보
                .delDetail 
                    .dawn 
                        span 새벽배송
                        span 7pm 이전 결제시 12월11일(토) 도착가능
                    .norm
                        span 택배배송
                        span 5pm 이전 결제시 12월 11일(토) 도착가능
                    br
                    .intoDelnotice 
                        span 주문시간 및 배송안내 자세히보기
                        a.arrow
                            img(src="" alt="화살표")
            hr
            .delPrice 
                span 배송비
                span 3,000원 / 30,000원 이상 무료배송
            hr
            .seller 
                span 판매자
                span 그리팅
                span.tel 1800-0700

            #Btns
                button 장바구니 담기
                button 구매하기
                button 선물하기