doctype html
head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  include ./common/head.pug
  
  body#couponList.hd
    main#contents.hd__displayList
      .displayList.hd__inner1100
        section#dvDisplayListArea.displayList__sect.list-area
          ul#dvDisplayListMainArea.box
            // dvDisplayListTemplate
            li.box__list
              a(href='https://www.greating.co.kr/display/displayDetail?dpDisplayId=9565&companyType=G')
                figure.box__list__thumb
                  img(src='./src/display/3450coupon.jpg' alt='[금,토,일] 3,4만원 이상 구매 시 50%할인쿠폰')

            li.box__list
              a(href='https://www.greating.co.kr/display/displayDetail?dpDisplayId=9545&companyType=G')
                figure.box__list__thumb
                  img(src='./src/display/jibcokdisplay.jpg' alt='집콕족을 위한 겨울 간식 기획전 (12.3~12.15)')

            li.box__list
              a(href='https://www.greating.co.kr/display/displayDetail?dpDisplayId=9505&companyType=G')
                figure.box__list__thumb
                  img(src='./src/display/jejuorange.jpg' alt='제주 고당도 프리미엄 감귤류 3종[최대 20%할인]')

            li.box__list
              a(href='https://www.greating.co.kr/display/displayDetail?dpDisplayId=9485&companyType=G')
                figure.box__list__thumb
                  img(src='./src/display/michelin2star.jpg' alt='미쉐린 2스타 선정 기념★특별 할인전')

            li.box__list
              a(href='https://www.greating.co.kr/display/displayDetail?dpDisplayId=9445&companyType=G')
                figure.box__list__thumb
                  img(src='./src/display/better.jpg' alt='★BETTER FOOD BETTER LIFE★')

            li.box__list
              a(href='https://www.greating.co.kr/display/displayDetail?dpDisplayId=9425&companyType=G')
                figure.box__list__thumb
                  img(src='./src/display/realjeju.jpg' alt='진짜 제주의 맛 2탄! ★더 특별해진 제주 보양식 ')

            li.box__list
              a(href='https://www.greating.co.kr/display/displayDetail?dpDisplayId=9385&companyType=G')
                figure.box__list__thumb
                  img(src='./src/display/soft.jpg' alt='2021 대한민국 식품대상 수상기념! 연화식 할인전★')

            li.box__list
              a(href='https://www.greating.co.kr/display/displayDetail?dpDisplayId=9305&companyType=G')
                figure.box__list__thumb
                  img(src='./src/display/chilsung.jpg' alt='그리팅 건강마켓 X 칠성몰 싱싱마켓')

            li.box__list
              a(href='https://www.greating.co.kr/display/displayDetail?dpDisplayId=9245&companyType=G')
                figure.box__list__thumb
                  img(src='./src/display/gook.jpg' alt='추운 날씨에 몸을 녹여줄 뜨끈한 국 [최대 20%할인]')

            li.box__list
              a(href='https://www.greating.co.kr/display/displayDetail?dpDisplayId=4825&companyType=G')
                figure.box__list__thumb
                  img(src='./src/display/giftcard.jpg' alt="마음을 전하는 '그리팅 기프트 카드'")

        #pageNation.pagenation
          button.pageBtn.first(onclick="fnPgUtilRead('first')" style='display: none;')
            span.hidden &#xCC98;&#xC74C;&#xC73C;&#xB85C;
          button.pageBtn.prev(onclick="fnPgUtilRead('prev')" style='display: none;')
            span.hidden &#xC774;&#xC804;
          span#pager.pagenation__number
            span.active.paging
              span 1
          button.pageBtn.next(onclick="fnPgUtilRead('next')" style='display: none;')
            span.hidden &#xB2E4;&#xC74C;
          button.pageBtn.end(onclick="fnPgUtilRead('last')" style='display: none;')
            span.hidden &#xB9C8;&#xC9C0;&#xB9C9;
