doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title SikDan :: 밥상주치의 싴단
        link(rel='stylesheet', href='./css/layout.scss', type='text/css')
        link(rel='stylesheet', href='./css/main.css', type='text/css')
        link(rel='stylesheet', href='./css/event.scss', type='text/css')
        link(rel='stylesheet', href='./css/app.scss', type='text/css')
        link(rel='stylesheet', href='./css/7f85a56ba4.css', type='text/css')
        //- script(src="./js/main.js")
    body#eventList.hd
        //- #id .class
        #wrap 
            #header.hd__header 
                .topBanner 
                    a(href="https://www.greating.co.kr/event/eventReview?evEventId=3878#page1")
                        figure
                            img(src="./htmlfiles/2FF579614D9B4DD6830B0C0788865BE2.jpg" alt="1")
                    a.topBanner_close(href="javascript:closeTopBanner();")
                        img(src="./htmlfiles/btn_topBanner-close.png" alt="닫기")
                .header 
                    section.user-area 
                        ul.user-area__menu
                            //- 로그인전
                            li
                                a(href="javascript:fnLogin();") 로그인
                            li
                                a(href="https://www.greating.co.kr/member/join/memberjoin") 회원가입
                            li
                                a(href="https://www.greating.co.kr/myPage/randomCouponRegist") 쿠폰/교환권
                            li
                                a(href="https://www.greating.co.kr/serviceCenter/serviceCenterMain") 고객센터
                                    i
                                ul
                                    li
                                        a(href="https://www.greating.co.kr/serviceCenter/notice") 공지사항
                                    li
                                        a(href="https://www.greating.co.kr/serviceCenter/faq") 자주하는 질문
                                    li
                                        a(href="https://www.greating.co.kr/serviceCenter/myPersonalInquery") 1:1 문의
                                    li 
                                        a(href="https://www.greating.co.kr/serviceCenter/qna") 고객의 소리
                    #header__inner
                        #header__sec
                            h1.logo
                                a(href="https://www.greating.co.kr/")
                                    img(src="./htmlfiles/img_header_logo.png" alt="greating")
                            .all-menu
                                .all-menu__inner
                                    ul.all-menu__depth1
                                        li
                                            a(href="https://www.greating.co.kr/planMeals/planMeals") 케어식단

                                            ul.all-menu__depth2
                                                li 
                                                    a(href="https://www.greating.co.kr/planMeals/planMeals") 정기식단

                                                    ul.all-menu__depth3
                                                        li 
                                                            a(href="https://www.greating.co.kr/planMeals/careLow") 저당식단
                                                        li 
                                                            a(href="https://www.greating.co.kr/planMeals/careLight") 칼로리식단
                                                        li
                                                            a(href="https://www.greating.co.kr/planMeals/careWellness") 장수마을식단
                                                        li 
                                                            a(href="https://www.greating.co.kr/planMeals/careMyGreating") 마이그리팅
                                                li
                                                    a(href="https://www.greating.co.kr/main/boardDetail?freeboardId=341") 챌린지식단

                                                    ul.all-menu__depth3
                                                        li 
                                                            a(href="https://www.greating.co.kr/market/marketDetail?itemId=102760") BEAUTY FIT
                                                        li 
                                                            a(href="https://www.greating.co.kr/planMeals/careLight") HI FAT
                                                        li
                                                            a(href="https://www.greating.co.kr/planMeals/careWellness") PROTEIN UP
                                                        li 
                                                            a(href="https://www.greating.co.kr/planMeals/careMyGreating") INNER BALANCE
                                        li 
                                            a(href="https://www.greating.co.kr/market/marketList?ctgryId=50") 건강마켓
                                            //- #id .class
                                            ul.all-menu__depth2#dvMainMenuCtgryList
                                                li.submenu__list#cate_slide_id_55
                                                    a.submenu__list-name(href="https://www.greating.co.kr/market/marketList?ctgryId=55")
                                                        i.all-menu__depth2-ico
                                                        |건강반찬
                                                    ul.all-menu__depth3
                                                        li 
                                                            a(href="https://www.greating.co.kr/market/marketList?ctgryId=656") 메인요리
                                                        li 
                                                            a(href="https://www.greating.co.kr/market/marketList?ctgryId=1878") 밀키트
                                                        li
                                                            a(href="https://www.greating.co.kr/market/marketList?ctgryId=657") 밑반찬
                                                        li 
                                                            a(href="hhttps://www.greating.co.kr/market/marketList?ctgryId=1519") 나물
                                                        li 
                                                            a(href="https://www.greating.co.kr/market/marketList?ctgryId=2578") 소스/양념
                                                        li 
                                                            a(href="https://www.greating.co.kr/market/marketList?ctgryId=1522") 키즈
                                                li.submenu__list#cate_slide_id_1058
                                                    a.submenu__list-name(href="https://www.greating.co.kr/market/marketList?ctgryId=1058")
                                                        i.all-menu__depth2-ico 
                                                        |진한 국/찌개
                                                    ul.all-menu__depth3 
                                                        li 
                                                            a(href="https://www.greating.co.kr/market/marketList?ctgryId=1079") 국
                                                        li 
                                                            a(href="https://www.greating.co.kr/market/marketList?ctgryId=1078") 찌개
                                                li.submenu__list.cate_slide_id_3058
                                                    a.submenu__list-name(href="https://www.greating.co.kr/market/marketList?ctgryId=3058")
                                                        i#all-menu__depth2-ico
                                                        |자연 담은 면
                                                    ul.all-menu__depth3
                                                        li 
                                                            a(href="https://www.greating.co.kr/market/marketList?ctgryId=3078") 국수
                                                        li 
                                                            a(href="https://www.greating.co.kr/market/marketList?ctgryId=3079") 파스타
                                                li.submenu__list.cate_slide_id_719
                                                    a.submenu__list-name(href="https://www.greating.co.kr/market/marketList?ctgryId=719")
                                                        i.all-menu__depth2-ico
                                                        |영양가득 밥/죽
                                                    ul.all-menu__depth3
                                                        li 
                                                            a(href="https://www.greating.co.kr/market/marketList?ctgryId=729") 국수
                                                        li 
                                                            a(href="https://www.greating.co.kr/market/marketList?ctgryId=728") 파스타
                            .gnb 
                                ul#gnb__inner
                                    li#gnb__list
                                        a#gnb__list-name(href="https://www.greating.co.kr/planMeals/planMeals") 케어식단
                                    li#gnb__list
                                        a#gnb__list-name(href="https://www.greating.co.kr/market/marketList?ctgryId=50") 건강마켓
                                    li#gnb__list
                                        a#gnb__list-name(href="https://www.greating.co.kr/display/displayList") 기획전
                                    li#gnb__list
                                        a#gnb__list-name(href="https://www.greating.co.kr/event/eventList") 이벤트
                                    li#gnb__list
                                        a#gnb__list-name(href="https://www.greating.co.kr/story/storyMain") 스토리
                            nav.direct
                                #searchPopup.direct__search_btn__modal-open(data-popup-name="popup_search" data-login="y")
                                    input#searchInput2.search-input(type="text" placeholder="검색어를 입력해 주세요." autocomplete="off")
                                    a(href="https://www.greating.co.kr/event/eventList#")
                                        img#dvSrhFilterBtn2(src="./htmlfiles/icon_header_search.png" alt="검색")
                                

                                                    
                            