doctype html
// saved from url=(0048)https://www.greating.co.kr/event/eventList#page1
head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
 
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  link(rel='shortcut icon', href='https://www.greating.co.kr/front_mo/images/favicon.png')
  
  script(src='./htmlfiles/iframe_api')

  link(rel='stylesheet', href='./css/layout.css', type='text/css')
  link(rel='stylesheet', href='./css/memberJoin.css', type='text/css')
  link(rel='stylesheet', href='./css/app.css', type='text/css')
  link(rel='stylesheet', href='./css/main.css', type='text/css')
  link(rel='stylesheet', href='./css/normalize.css', type='text/css')
  link(rel='stylesheet', href='./css/common.css', type='text/css')
  link(rel='stylesheet', type='text/css', href='/css/jquery-ui.css')
  script(src='/css/main.js')
  script(src='./htmlfiles/vendor.js')
  script(src='./htmlfiles/f(1).txt')

#wrap
  header#header.hd__header
    .topBanner
      a(href='https://www.greating.co.kr/event/eventReview?evEventId=3878#page1')
        figure
          img(src='./htmlfiles/2FF579614D9B4DD6830B0C0788865BE2.jpg', alt='1')
      a.topBanner__close(href='javascript:closeTopBanner();')
        img(src='./htmlfiles/btn_topBanner-close.png', alt='닫기')
    .header
      section.user-area
        ul.user-area__menu
          // 로그인전
          li
            a(href='javascript:fnLogin();') &#xB85C;&#xADF8;&#xC778;
          li
            a(href='https://www.greating.co.kr/member/join/memberjoin') &#xD68C;&#xC6D0;&#xAC00;&#xC785;
          li
            a(href='https://www.greating.co.kr/myPage/randomCouponRegist') &#xCFE0;&#xD3F0;/&#xAD50;&#xD658;&#xAD8C;
          li
            a(href='https://www.greating.co.kr/serviceCenter/serviceCenterMain')
              | &#xACE0;&#xAC1D;&#xC13C;&#xD130;
              i
            ul
              li
                a(href='https://www.greating.co.kr/serviceCenter/notice') &#xACF5;&#xC9C0;&#xC0AC;&#xD56D;
              li
                a(href='https://www.greating.co.kr/serviceCenter/faq') &#xC790;&#xC8FC;&#xD558;&#xB294; &#xC9C8;&#xBB38;
              li
                a(href='https://www.greating.co.kr/serviceCenter/myPersonalInquery') 1:1 &#xBB38;&#xC758;
              li
                a(href='https://www.greating.co.kr/serviceCenter/qna') &#xACE0;&#xAC1D;&#xC758; &#xC18C;&#xB9AC;
      .header__inner
        .header__sec
          h1.logo
            a(href='https://www.greating.co.kr/')
              img(src='./htmlfiles/img_header_logo.png', alt='greating')
          .all
            a(href='https://www.greating.co.kr/event/eventList#')
              span.all__icon
                span
                span
                span
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#xCE74;&#xD14C;&#xACE0;&#xB9AC;
            .all-menu
              .all-menu__inner
                ul.all-menu__depth1
                  li
                    a(href='https://www.greating.co.kr/planMeals/planMeals') &#xCF00;&#xC5B4;&#xC2DD;&#xB2E8;
                    ul.all-menu__depth2
                      li
                        a(href='https://www.greating.co.kr/planMeals/planMeals') &#xC815;&#xAE30;&#xC2DD;&#xB2E8;
                        ul.all-menu__depth3
                          li
                            a(href='https://www.greating.co.kr/planMeals/careLow') &#xC800;&#xB2F9;&#xC2DD;&#xB2E8;
                          li
                            a(href='https://www.greating.co.kr/planMeals/careLight') &#xCE7C;&#xB85C;&#xB9AC;&#xC2DD;&#xB2E8;
                          li
                            a(href='https://www.greating.co.kr/planMeals/careWellness') &#xC7A5;&#xC218;&#xB9C8;&#xC744;&#xC2DD;&#xB2E8;
                          li
                            a(href='https://www.greating.co.kr/planMeals/careMyGreating') &#xB9C8;&#xC774;&#xADF8;&#xB9AC;&#xD305;
                      li
                        a(href='https://www.greating.co.kr/main/boardDetail?freeboardId=341') &#xCC4C;&#xB9B0;&#xC9C0;&#xC2DD;&#xB2E8;
                        ul.all-menu__depth3
                          li
                            a(href='https://www.greating.co.kr/market/marketDetail?itemId=102760')
                              | BEAUTY
                              | FIT
                          li
                            a(href='https://www.greating.co.kr/market/marketDetail?itemId=102771')
                              | HI
                              | FAT
                          li
                            a(href='https://www.greating.co.kr/market/marketDetail?itemId=102759')
                              | PROTEIN
                              | UP
                          li
                            a(href='https://www.greating.co.kr/market/marketDetail?itemId=114983')
                              | INNER
                              | BALANCE
                  li
                    a(href='https://www.greating.co.kr/market/marketList?ctgryId=50') &#xAC74;&#xAC15;&#xB9C8;&#xCF13;
                    ul#dvMainMenuCtgryList.all-menu__depth2
                      li#cate_slide_id_55.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=55')
                          i.all-menu__depth2-ico
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#xAC74;&#xAC15;&#xBC18;&#xCC2C;
                        ul.all-menu__depth3
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=656') &#xBA54;&#xC778;&#xC694;&#xB9AC;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=1878') &#xBC00;&#xD0A4;&#xD2B8;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=657') &#xBC11;&#xBC18;&#xCC2C;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=1519') &#xB098;&#xBB3C;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=2578') &#xC18C;&#xC2A4;/&#xC591;&#xB150;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=1522') &#xD0A4;&#xC988;
                      li#cate_slide_id_1058.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=1058')
                          i.all-menu__depth2-ico
                          | &#xC9C4;&#xD55C; &#xAD6D;/&#xCC0C;&#xAC1C;
                        ul.all-menu__depth3
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=1079') &#xAD6D;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=1078') &#xCC0C;&#xAC1C;
                      li#cate_slide_id_3058.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=3058')
                          i.all-menu__depth2-ico
                          | &#xC790;&#xC5F0; &#xB2F4;&#xC740; &#xBA74;
                        ul.all-menu__depth3
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=3078') &#xAD6D;&#xC218;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=3079') &#xD30C;&#xC2A4;&#xD0C0;
                      li#cate_slide_id_719.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=719')
                          i.all-menu__depth2-ico
                          | &#xC601;&#xC591;&#xAC00;&#xB4DD; &#xBC25;/&#xC8FD;
                        ul.all-menu__depth3
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=729') &#xBC25;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=728') &#xC8FD;
                      li#cate_slide_id_718.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=718')
                          i.all-menu__depth2-ico
                          | &#xC0D0;&#xB7EC;&#xB4DC;/&#xC0CC;&#xB4DC;&#xC704;&#xCE58;
                        ul.all-menu__depth3
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=2638') &#xC0D0;&#xB7EC;&#xB4DC;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=2639') &#xC0CC;&#xB4DC;&#xC704;&#xCE58;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=2678') &#xBE0C;&#xB7F0;&#xCE58;&#xBC15;&#xC2A4;
                      li#cate_slide_id_1198.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=1198')
                          i.all-menu__depth2-ico
                          | &#xBCA0;&#xC774;&#xCEE4;&#xB9AC;/&#xC2A4;&#xD504;
                        ul.all-menu__depth3
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=1218') &#xBE75;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=3361') &#xC2A4;&#xD504;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=1219') &#xBC84;&#xD130;/&#xCE58;&#xC988;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=1679')
                              | &#xC7BC;/&#xC2DC;&#xB7FD;
                      li#cate_slide_id_1699.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=1699')
                          i.all-menu__depth2-ico
                          | &#xCC29;&#xD55C; &#xAC04;&#xC2DD;/&#xC74C;&#xB8CC;
                        ul.all-menu__depth3
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=1738') &#xC2DD;&#xC0AC;&#xB300;&#xC6A9;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=1740') &#xC601;&#xC591;&#xAC04;&#xC2DD;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=2098') &#xCEE4;&#xD53C;/&#xCC28;/&#xC74C;&#xB8CC;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=3358') &#xC624;&#xB298;&#xC8FC;&#xC2A4;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=1739') &#xCE94;&#xB514;/&#xCFE0;&#xD0A4;
                      li#cate_slide_id_2598.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=2598')
                          i.all-menu__depth2-ico
                          | &#xC548;&#xC2EC; &#xD0A4;&#xC988;
                        ul.all-menu__depth3
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=2698') &#xAC04;&#xD3B8;&#xC2DD;/&#xAD6D;/&#xBC18;&#xCC2C;/&#xC18C;&#xC2A4;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=2599') &#xAC04;&#xC2DD;/&#xAC74;&#xAC15;&#xC2DD;&#xD488;/&#xC74C;&#xB8CC;
                      li#cate_slide_id_818.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=818')
                          i.all-menu__depth2-ico
                          | &#xBD80;&#xB4DC;&#xB7EC;&#xC6B4; &#xC5F0;&#xD654;&#xC2DD;
                        ul.all-menu__depth3
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=821') &#xACE0;&#xAE30;
                          li
                            a(href='https://www.greating.co.kr/market/marketList?ctgryId=1538') &#xC0DD;&#xC120;
                      li#cate_slide_id_1139.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=1139')
                          i.all-menu__depth2-ico
                          | 1Table
                      li#cate_slide_id_2018.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=2018')
                          i.all-menu__depth2-ico
                          | &#xBE44;&#xAC74;
                      li#cate_slide_id_1038.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=1038')
                          i.all-menu__depth2-ico
                          | &#xC2A4;&#xD398;&#xC15C; &#xD328;&#xD0A4;&#xC9C0;
                      li#cate_slide_id_3279.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=3279')
                          i.all-menu__depth2-ico
                          | &#xBC18;&#xCC2C; &#xC815;&#xAE30;&#xAD6C;&#xB3C5;
                      li#cate_slide_id_3500.submenu__list
                        a.submenu__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=3500')
                          i.all-menu__depth2-ico
                          | &#xB77C;&#xC774;&#xD504;
                  li
                    a(href='https://www.greating.co.kr/market/brandMarketList') &#xBE0C;&#xB79C;&#xB4DC;&#xC9C1;&#xC1A1;&#xAD00;
                ul.all-menu__nav
                  li
                    a(href='https://www.greating.co.kr/newItem/newItemList') &#xC2E0;&#xC0C1;&#xD488;
                  li
                    a(href='https://www.greating.co.kr/best/bestList') &#xBCA0;&#xC2A4;&#xD2B8;
          .gnb
            ul.gnb__inner
              li.gnb__list
                a.gnb__list-name(href='https://www.greating.co.kr/planMeals/planMeals') &#xCF00;&#xC5B4;&#xC2DD;&#xB2E8;
              li.gnb__list
                a.gnb__list-name(href='https://www.greating.co.kr/market/marketList?ctgryId=50') &#xAC74;&#xAC15;&#xB9C8;&#xCF13;
              li.gnb__list
                a.gnb__list-name(href='https://www.greating.co.kr/display/displayList') &#xAE30;&#xD68D;&#xC804;
              li.gnb__list
                a.gnb__list-name(href='https://www.greating.co.kr/event/eventList') &#xC774;&#xBCA4;&#xD2B8;
              li.gnb__list
                a.gnb__list-name(href='https://www.greating.co.kr/story/storyMain') &#xC2A4;&#xD1A0;&#xB9AC;
          nav.direct
            #searchPopup.direct__search.btn__modal-open(data-login='y', data-popup-name='popup_search')
              // 2021.09.23 YSC 상품권 내리기 <input type="text" id="searchInput2" class="search-input" placeholder="그리팅 '기프트 카드' 출시!" autocomplete="off">
              input#searchInput2.search-input(type='text', placeholder='검색어를 입력해 주세요.', autocomplete='off')
              a(href='https://www.greating.co.kr/event/eventList#')
                img#dvSrhFilterBtn2(src='./htmlfiles/icon_header_search.png', alt='검색')
            a.direct__cart(href='https://www.greating.co.kr/order/orderCart')
              span#cartCnt 0
              img(src='./htmlfiles/icon_header_cart.png', alt='장바구니')
 
  main#contents.hd__eventList
    ul.breadcrumb
      each val in breadcrumbLIst
        li=val

// 개발팀 공통 js include 시작
script(src='./htmlfiles/library.js')
script(src='./htmlfiles/7HPSEX5C.js')
script(src='./htmlfiles/fflow.ui.js')
// <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
script(src='./htmlfiles/postcode.v2.js')
script(type='text/javascript', id='').
  !function (b, e, f, g, a, c, d) { b.fbq || (a = b.fbq = function () { a.callMethod ? a.callMethod.apply(a, arguments) : a.queue.push(arguments) }, b._fbq || (b._fbq = a), a.push = a, a.loaded = !0, a.version = "2.0", a.queue = [], c = e.createElement(f), c.async = !0, c.src = g, d = e.getElementsByTagName(f)[0], d.parentNode.insertBefore(c, d)) }(window, document, "script", "https://connect.facebook.net/en_US/fbevents.js"); fbq("init", "2578943225758307"); fbq("track", "PageView");
noscript
  img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=2578943225758307&ev=PageView&noscript=1')
script(type='text/javascript', id='', charset='UTF-8', src='./htmlfiles/kp.js')
script(charset='UTF-8', type='text/javascript', src='./htmlfiles/211103.js')
script(src='./htmlfiles/controller.js')
script(src='./htmlfiles/cmContollerUI.js')
script(src='./htmlfiles/cmHandlebars.js')
// 공통 Handlebars
//- --------/login/login으로 자동으로 넘어감-------
//- script(src='./js/header.js') 
//- script(src='./htmlfiles/pageController.js')
//- script(src='./htmlfiles/searchController.js')
//- ----------------------------------------------
// 개발팀 공통 js include 끝
// 개발 담당자 js include 시작
script(src='./htmlfiles/eventListController.js')
// 개발 담당자 js include 끝
.progress(style='display: none;')
  img(src='./htmlfiles/progress.gif', alt='')
