style.
    *{position: relative;}
    li{ list-style:none; padding: 0; display:inline; }
    li.mcate::after{ content:" > "; } li.cate1::after{ content:" > "; }
    a{text-decoration: none; }

include ./header
<<<<<<< HEAD
include ./head
=======

include ./detail
>>>>>>> 08b4ca37382ee37b39314432bfc79efc74988106
include ./footer
