style.
    *{position: relative;}
    li{ list-style:none; padding: 0; display:inline; }
    li.mcate::after{ content:" > "; } li.cate1::after{ content:" > "; }
    a{text-decoration: none; }

include ./header

include ./detail
include ./footer
