link(href="/css/join.css" crossorigin="anonymous", rel="stylesheet")

.register
  h3 &#xD68C;&#xC6D0;&#xAC00;&#xC785;
  form(action='')
    .flex
      ul.container
        li.item.center
          | &#xC774;&#xB984;
        li.item
          input(type='text', name='name', autofocus='', required='')
        li.item
      ul.container
        li.item.center
          | &#xC544;&#xC774;&#xB514;
        li.item
          input(type='text', placeholder='아이디를 입력하세요.', required='')
        li.item
          button.idcheck &#xC911;&#xBCF5;&#xD655;&#xC778;
      ul.container
        li.item.center
          | &#xBE44;&#xBC00;&#xBC88;&#xD638;
        li.item
          input(type='password', placeholder='비밀번호를 입력하세요.', required='')
        li.item
      ul.container
        li.item.center
          | &#xBE44;&#xBC00;&#xBC88;&#xD638; &#xD655;&#xC778;
        li.item
          input(type='password', placeholder='비밀번호를 입력하세요.', required='')
        li.item
      ul.container
        li.item.center
          | &#xC0DD;&#xB144;&#xC6D4;&#xC77C;
        li.item
          input(type='date', required='')
        li.item
      ul.container
        li.item.center
          | &#xC131;&#xBCC4;
        li.item
          select(name='gender', id='')
            option(value='선택', selected='') &#xC120;&#xD0DD;
            option(value='남성') &#xB0A8;&#xC131;
            option(value='여성') &#xC5EC;&#xC131;
        li.item
      ul.container
        li.item.center
          | &#xC804;&#xD654;&#xBC88;&#xD638;
        li.item
          input(type='text', placeholder='휴대전화번호')
        li.item
      ul.container
        li.item.center
        li.item
          button.submit &#xAC00;&#xC785;&#xD558;&#xAE30;
        li.item

