doctype html
head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  link(href="./css/join.css" crossorigin="anonymous", rel="stylesheet")
  include ./common/head.pug
  
  main#contents.hd__greatingJoin
    section.greatingJoin.hd__sub.hd__inner
      h2.hd__page-title 정보입력
      .register
        form(action='/signup' method="post")
          .flex
            ul.container
              li.item.center
                | 이름
              li.item
                input(type='text', name='name', autofocus='', required='')
              li.item
            ul.container
              li.item.center
                | 아이디
              li.item
                input(type='text', placeholder='아이디를 입력하세요.', required='')
              li.item
                button.idcheck 중복확인
            ul.container
              li.item.center
                | 비밀번호
              li.item
                input(type='password', placeholder='비밀번호를 입력하세요.', name="password" required='')
              li.item
            ul.container
              li.item.center
                | 비밀번호 확인
              li.item
                input(type='password', placeholder='비밀번호를 입력하세요.', name="passwordck" , required='')
              li.item
            ul.container
              li.item.center
                | 생년월일
              li.item
                input(type='date', required='' name="date")
              li.item
            ul.container
              li.item.center
                | 성별
              li.item
                select(name='gender', id='')
                  option(value='선택', selected='') 선택
                  option(value='남성') 남성
                  option(value='여성') 여성
              li.item
            ul.container
              li.item.center
                | 전화번호
              li.item
                input(type='text', placeholder='01x-xxxx-xxxx' name="phone")
              li.item
            ul.container
              li.item.center
              li.item
          button.submit 회원가입

script(src='../js/commonJoin.js')
script(src='../js/greatingJoin.js')
