doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style.
            *{position:relative;}
            #mainImg{ opacity:0.5;}
    include ./common/head.pug
    body 
        div
            div#headCoupon 지금 그리팅 가입하고 최대 10만원 쿠폰팩 받으세요 > 

            
            div#storyContent
                div Home > 스토리
                div#mainImg
                    img(src="http://loremflickr.com/2115/864" alt="background")
                    div.storyBrief
                        div#corebrief BETTER FOOD BETTER LIFE
                        div#comment1 건강한 음식을 먹는다는 건\n나 자신을 위한 작은 실천입니다.
                        div#contentsBox
                            div.content1
                            div.content2
                            div.content3
                        div#comment2 기분 좋은 생활, 그리팅
                            div#brandStroyBtn about greeting

                            div 브랜드 스토리 

                div#secondStoryImgii
                    img(src="http://loremflickr.com/2115/864" alt="background")
                    div 그리팅 매거진
                        div Card
                        div Card
                        div Card
                        div Card
    
                div#thirdStoryImgiii

                    div 그리팅 TV >

                div#bottomBanner
                    div 건강하고 지속 가능한 식문화를 만드는
                    div 현대그린푸드 소개
                    
                
                        
                    
                        