body {
  text-align: center;
}

table.type11 {
    margin:0 auto;
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
  }
  table.type11 th {
    width: 155px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: black;
    border: 2px solid #918c00 ;
  }
  table.type11 td {
    width: 155px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #eee;
  }

  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.5s;
  }
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    background: var(--button-bg-color);
    color: var(--button-color);
    
    margin: 0;
    padding: 0.5rem 1rem;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    
    border: none;
    border-radius: 4px;
    
    display: inline-block;
    width: auto;
    
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    
    cursor: pointer;
    
    transition: 0.5s;
  }
  
  button.delBtn {
    --button-bg-color: #918c00;
    --button-hover-bg-color: #918c00;
  }

  button:active,
  button:hover,
  button:focus {
    background: var(--button-hover-bg-color);
    outline: 0;
  }
  button:disabled {
    opacity: 0.5;
  }
  
  form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
  }
  
  body {
    margin: 0;
    background: #eee;
  }
  /* .delBtn {
    width: 15px;
    height: 15px;
  } */