link(rel="stylesheet" href="css/front.css")
link(rel="stylesheet" href="css/front2.css")
link(rel="stylesheet" href="css/main.css")

section.main__sect.recomend.hd__inner1100.marketList__sect.item-area.asStart
  p.main__desc &#xAC74;&#xAC15;&#xC740; &#xBC25;&#xC0C1;&#xC73C;&#xB85C;&#xBD80;&#xD130;
  h3.main__h3.hPara.fadeInUp &#xADF8;&#xB9AC;&#xD305;&#xC774; &#xC790;&#xC2E0;&#xC788;&#xAC8C; &#xCD94;&#xCC9C;&#xB4DC;&#xB824;&#xC694;
  ul#dvMarketCtgryList.recomend-tab.hPara.fadeInUp
    li#ctg_id_55
      a#ctgryList(value='55') &#xAC74;&#xAC15;&#xBC18;&#xCC2C;
    li#ctg_id_1058
      a#ctgryList(value='1058') &#xC9C4;&#xD55C; &#xAD6D;/&#xCC0C;&#xAC1C;
    li#ctg_id_3058
      a#ctgryList(value='3058') &#xC790;&#xC5F0; &#xB2F4;&#xC740; &#xBA74;
    li#ctg_id_719
      a#ctgryList(value='719') &#xC601;&#xC591;&#xAC00;&#xB4DD; &#xBC25;/&#xC8FD;
    li#ctg_id_718
      a#ctgryList(value='718') &#xC0D0;&#xB7EC;&#xB4DC;/&#xC0CC;&#xB4DC;&#xC704;&#xCE58;
    li#ctg_id_1198
      a#ctgryList(value='1198') &#xBCA0;&#xC774;&#xCEE4;&#xB9AC;/&#xC2A4;&#xD504;
    li#ctg_id_1699
      a#ctgryList(value='1699') &#xCC29;&#xD55C; &#xAC04;&#xC2DD;/&#xC74C;&#xB8CC;
    li#ctg_id_2598.on(value='2598')
      a#ctgryList(value='2598') &#xC548;&#xC2EC; &#xD0A4;&#xC988;
    li#ctg_id_818
      a#ctgryList(value='818') &#xBD80;&#xB4DC;&#xB7EC;&#xC6B4; &#xC5F0;&#xD654;&#xC2DD;
    li#ctg_id_1139
      a#ctgryList(value='1139') 1Table
    li#ctg_id_2018
      a#ctgryList(value='2018') &#xBE44;&#xAC74;
    li#ctg_id_1038
      a#ctgryList(value='1038') &#xC2A4;&#xD398;&#xC15C; &#xD328;&#xD0A4;&#xC9C0;
    li#ctg_id_3279
      a#ctgryList(value='3279') &#xBC18;&#xCC2C; &#xC815;&#xAE30;&#xAD6C;&#xB3C5;
    li#ctg_id_3500
      a#ctgryList(value='3500') &#xB77C;&#xC774;&#xD504;
  #dvCtgryItemFrameArea.recomend-cont.hPara.fadeInUp
    ul#dvListArea.box
      li.box__list(data-item_id='100284')
        a(href='/market/marketDetail?itemId=100284&idx=1', onclick="javascript:gaClickTagging('100284','3無 짜장소스','건강마켓','안심 키즈/간편식&국&반찬&소스','5280','현대그린푸드','1');")
          figure.box__list__thumb
            img(src='https://image.greating.co.kr/IL/item/202108/10/M_0982CD77BAF144F59690AEE4D682BD2A.jpg', alt='3無 짜장소스')
          .hd__icon__bundle
            span.hd__icon__best
              img(src='https://image.greating.co.kr/II/basic/itemBadge/2A415817620E4ACF8398A8A8FA670EA5.png', alt='투명')
          // 태그 아이콘
          .box__list__tag
            span(style='border-color: rgb(38, 79, 145); color: rgb(38, 79, 145);') &#xB0C9;&#xB3D9;
          // // 태그 아이콘
        .box__list__title__wrap
          span.box__list__sub No &#xC124;&#xD0D5;, &#xCE74;&#xB77C;&#xBA5C;&#xC0C9;&#xC18C;, MSG
          span.box__list__title 3&#x7121; &#xC9DC;&#xC7A5;&#xC18C;&#xC2A4;
        .box__list__price
          span.box__list__price-discounted-rate 20%
          del.box__list__price-origin 6,600&#xC6D0;
          span.box__list__price-discounted.strong 5,280&#xC6D0;
        // 장바구니 버튼 추가  2020.06.23 Lee Seung Hwan
        button.box__list__cart(type='button', onclick='cartClick(100284,1);')
          span.cart &#xC7A5;&#xBC14;&#xAD6C;&#xB2C8;
        span.box__list__text
          // <span class="green">12월 4일(토) 도착 예정</span>
          //
            품절임박
      li.box__list(data-item_id='103016')
        a(href='/market/marketDetail?itemId=103016&idx=2', onclick="javascript:gaClickTagging('103016','소고기 메추리알조림','건강마켓','안심 키즈/간편식&국&반찬&소스','6300','현대그린푸드','2');")
          figure.box__list__thumb
            img(src='https://image.greating.co.kr/IL/item/202103/08/M_94D9E5B3E1DF479BBFE84383A16BF2F0.jpg', alt='소고기 메추리알조림')
          .hd__icon__bundle
            span.hd__icon__best
              img(src='https://image.greating.co.kr/II/basic/itemBadge/2A415817620E4ACF8398A8A8FA670EA5.png', alt='투명')
          // 태그 아이콘
          .box__list__tag
            span(style='border-color: rgb(0, 170, 144); color: rgb(0, 170, 144);') &#xB0C9;&#xC7A5;
          // // 태그 아이콘
        .box__list__title__wrap
          span.box__list__sub &#xD638;&#xC8FC;&#xC0B0; &#xC18C;&#xACE0;&#xAE30;&#xC640; &#xD0F1;&#xAE00;&#xD55C; &#xBA54;&#xCD94;&#xB9AC;&#xC54C;
          span.box__list__title &#xC18C;&#xACE0;&#xAE30; &#xBA54;&#xCD94;&#xB9AC;&#xC54C;&#xC870;&#xB9BC;
        .box__list__price
          span.box__list__price-discounted-rate 10%
          del.box__list__price-origin 7,000&#xC6D0;
          span.box__list__price-discounted.strong 6,300&#xC6D0;
        // 장바구니 버튼 추가  2020.06.23 Lee Seung Hwan
        button.box__list__cart(type='button', onclick='cartClick(103016,2);')
          span.cart &#xC7A5;&#xBC14;&#xAD6C;&#xB2C8;
        span.box__list__text
          // <span class="green">12월 4일(토) 도착 예정</span>
          //
            품절임박
      li.box__list(data-item_id='100360')
        a(href='/market/marketDetail?itemId=100360&idx=3', onclick="javascript:gaClickTagging('100360','버터 진미채볶음 ','건강마켓','안심 키즈/간편식&국&반찬&소스','4500','현대그린푸드','3');")
          figure.box__list__thumb
            img(src='https://image.greating.co.kr/IL/item/202006/24/M_A44F9B5DE06F4819BFF411760808A439.jpg', alt='버터 진미채볶음 ')
          .hd__icon__bundle
            span.hd__icon__best
              img(src='https://image.greating.co.kr/II/basic/itemBadge/2A415817620E4ACF8398A8A8FA670EA5.png', alt='투명')
          // 태그 아이콘
          .box__list__tag
            span(style='border-color: rgb(0, 170, 144); color: rgb(0, 170, 144);') &#xB0C9;&#xC7A5;
          // // 태그 아이콘
        .box__list__title__wrap
          span.box__list__sub &#xD504;&#xB791;&#xC2A4;&#xC0B0; &#xACE0;&#xBA54;&#xBC84;&#xD130;&#xC758; &#xD48D;&#xBBF8;
          span.box__list__title &#xBC84;&#xD130; &#xC9C4;&#xBBF8;&#xCC44;&#xBCF6;&#xC74C; 
        .box__list__price
          span.box__list__price-discounted-rate 10%
          del.box__list__price-origin 5,000&#xC6D0;
          span.box__list__price-discounted.strong 4,500&#xC6D0;
        // 장바구니 버튼 추가  2020.06.23 Lee Seung Hwan
        button.box__list__cart(type='button', onclick='cartClick(100360,3);')
          span.cart &#xC7A5;&#xBC14;&#xAD6C;&#xB2C8;
        span.box__list__text
          // <span class="green">12월 4일(토) 도착 예정</span>
          //
            품절임박
      li.box__list(data-item_id='116376')
        a(href='/market/marketDetail?itemId=116376&idx=4', onclick="javascript:gaClickTagging('116376','[바삭하고] 고구마칩 5입','건강마켓','착한 간식&음료/영양간식','12000','현대그린푸드','4');")
          figure.box__list__thumb
            img(src='https://image.greating.co.kr/IL/item/202110/28/M_6E72A8EB047F4982ACEFF84290EEAB88.jpg', alt='[바삭하고] 고구마칩 5입')
          // 태그 아이콘
          // // 태그 아이콘
        .box__list__title__wrap
          span.box__list__sub &#xAD6D;&#xB0B4;&#xC0B0; &#xACE0;&#xAD6C;&#xB9C8;&#xC758; &#xBC14;&#xC0AD;&#xD558;&#xACE0; &#xB2EC;&#xCF64;&#xD55C; 
          span.box__list__title [&#xBC14;&#xC0AD;&#xD558;&#xACE0;] &#xACE0;&#xAD6C;&#xB9C8;&#xCE69; 5&#xC785;
        .box__list__price
          span.box__list__price-discounted-rate 20%
          del.box__list__price-origin 15,000&#xC6D0;
          span.box__list__price-discounted.strong 12,000&#xC6D0;
        // 장바구니 버튼 추가  2020.06.23 Lee Seung Hwan
        button.box__list__cart(type='button', onclick='cartClick(116376,4);')
          span.cart &#xC7A5;&#xBC14;&#xAD6C;&#xB2C8;
        span.box__list__text
          // <span class="green">12월 4일(토) 도착 예정</span>
          //
            품절임박
      li.box__list(data-item_id='108071')
        a(href='/market/marketDetail?itemId=108071&idx=5', onclick="javascript:gaClickTagging('108071','[바삭하고] 고구마칩','건강마켓','착한 간식&음료/영양간식','3500','현대그린푸드','5');")
          figure.box__list__thumb
            img(src='https://image.greating.co.kr/IL/item/202105/24/M_00AF7B2E360942F2A90392B8281043C1.jpg', alt='[바삭하고] 고구마칩')
          .hd__icon__bundle
            span.hd__icon__best
              img(src='https://image.greating.co.kr/II/basic/itemBadge/2A415817620E4ACF8398A8A8FA670EA5.png', alt='투명')
          // 태그 아이콘
          // // 태그 아이콘
        .box__list__title__wrap
          span.box__list__sub &#xAD6D;&#xB0B4;&#xC0B0; &#xACE0;&#xAD6C;&#xB9C8;&#xC758; &#xBC14;&#xC0AD;&#xD558;&#xACE0; &#xB2EC;&#xCF64;&#xD55C; 
          span.box__list__title [&#xBC14;&#xC0AD;&#xD558;&#xACE0;] &#xACE0;&#xAD6C;&#xB9C8;&#xCE69;
        .box__list__price
          span.box__list__price-discounted.strong 3,500&#xC6D0;
        // 장바구니 버튼 추가  2020.06.23 Lee Seung Hwan
        button.box__list__cart(type='button', onclick='cartClick(108071,5);')
          span.cart &#xC7A5;&#xBC14;&#xAD6C;&#xB2C8;
        span.box__list__text
          // <span class="green">12월 4일(토) 도착 예정</span>
          //
            품절임박
      li.box__list(data-item_id='103042')
        a(href='/market/marketDetail?itemId=103042&idx=6', onclick="javascript:gaClickTagging('103042','[그리팅] 목장의 하루 무항생제 우유','건강마켓','착한 간식&음료/식사대용','3900','현대그린푸드','6');")
          figure.box__list__thumb
            img(src='https://image.greating.co.kr/IL/item/202103/12/M_A5A15F2C196C428DA956876D394A436E.jpg', alt='[그리팅] 목장의 하루 무항생제 우유')
          .hd__icon__bundle
            span.hd__icon__best
              img(src='https://image.greating.co.kr/II/basic/itemBadge/2A415817620E4ACF8398A8A8FA670EA5.png', alt='투명')
          // 태그 아이콘
          .box__list__tag
            span(style='border-color: rgb(0, 170, 144); color: rgb(0, 170, 144);') &#xB0C9;&#xC7A5;
          // // 태그 아이콘
        .box__list__title__wrap
          span.box__list__sub &#xB2F9;&#xC77C; &#xCC29;&#xC720;, &#xB2F9;&#xC77C; &#xC0DD;&#xC0B0;
          span.box__list__title [&#xADF8;&#xB9AC;&#xD305;] &#xBAA9;&#xC7A5;&#xC758; &#xD558;&#xB8E8; &#xBB34;&#xD56D;&#xC0DD;&#xC81C; &#xC6B0;&#xC720;
        .box__list__price
          span.box__list__price-discounted.strong 3,900&#xC6D0;
        // 장바구니 버튼 추가  2020.06.23 Lee Seung Hwan
        button.box__list__cart(type='button', onclick='cartClick(103042,6);')
          span.cart &#xC7A5;&#xBC14;&#xAD6C;&#xB2C8;
        span.box__list__text
          // <span class="green">12월 4일(토) 도착 예정</span>
          //
            품절임박
      li.box__list(data-item_id='100736')
        a(href='/market/marketDetail?itemId=100736&idx=7', onclick="javascript:gaClickTagging('100736','[아몬드브리즈] 오리지널 950ml','건강마켓','비건/비건','2390','현대그린푸드','7');")
          figure.box__list__thumb
            img(src='https://image.greating.co.kr/IL/item/202006/26/M_6CE33780207646759220A0FBD31ABC84.png', alt='[아몬드브리즈] 오리지널 950ml')
          // 태그 아이콘
          .box__list__tag
            span(style='border-color: rgb(0, 170, 144); color: rgb(0, 170, 144);') &#xB0C9;&#xC7A5;
          // // 태그 아이콘
        .box__list__title__wrap
          span.box__list__sub &#xD504;&#xB9AC;&#xBBF8;&#xC5C4; &#xC544;&#xBAAC;&#xB4DC; &#xADF8;&#xB300;&#xB85C;
          span.box__list__title [&#xC544;&#xBAAC;&#xB4DC;&#xBE0C;&#xB9AC;&#xC988;] &#xC624;&#xB9AC;&#xC9C0;&#xB110; 950ml
        .box__list__price
          span.box__list__price-discounted.strong 2,390&#xC6D0;
        // 장바구니 버튼 추가  2020.06.23 Lee Seung Hwan
        button.box__list__cart(type='button', onclick='cartClick(100736,7);')
          span.cart &#xC7A5;&#xBC14;&#xAD6C;&#xB2C8;
        span.box__list__text
          // <span class="green">12월 4일(토) 도착 예정</span>
          //
            품절임박
      li.box__list(data-item_id='108879')
        a(href='/market/marketDetail?itemId=108879&idx=8', onclick="javascript:gaClickTagging('108879','[그리팅] 목장의 하루 정직한 플레인 요거트','건강마켓','착한 간식&음료/식사대용','5500','현대그린푸드','8');")
          figure.box__list__thumb
            img(src='https://image.greating.co.kr/IL/item/202107/01/M_392393A2B7324FDE970B5C488A5FB597.jpg', alt='[그리팅] 목장의 하루 정직한 플레인 요거트')
          .hd__icon__bundle
            span.hd__icon__best
              img(src='https://image.greating.co.kr/II/basic/itemBadge/2A415817620E4ACF8398A8A8FA670EA5.png', alt='투명')
          // 태그 아이콘
          .box__list__tag
            span(style='border-color: rgb(0, 170, 144); color: rgb(0, 170, 144);') &#xB0C9;&#xC7A5;
          // // 태그 아이콘
        .box__list__title__wrap
          span.box__list__sub &#xC81C;&#xC8FC; &#xC6A9;&#xC554;&#xD574;&#xC218; &#xD504;&#xB85C;&#xBC14;&#xC774;&#xC624;&#xD2F1;&#xC2A4;
          span.box__list__title [&#xADF8;&#xB9AC;&#xD305;] &#xBAA9;&#xC7A5;&#xC758; &#xD558;&#xB8E8; &#xC815;&#xC9C1;&#xD55C; &#xD50C;&#xB808;&#xC778; &#xC694;&#xAC70;&#xD2B8;
        .box__list__price
          span.box__list__price-discounted.strong 5,500&#xC6D0;
        // 장바구니 버튼 추가  2020.06.23 Lee Seung Hwan
        button.box__list__cart(type='button', onclick='cartClick(108879,8);')
          span.cart &#xC7A5;&#xBC14;&#xAD6C;&#xB2C8;
        span.box__list__text
          // <span class="green">12월 4일(토) 도착 예정</span>
          //
            품절임박
  a.recomend-btn(href='/market/marketList?ctgryId=2598')
    | &#xC548;&#xC2EC; &#xD0A4;&#xC988; &#xC804;&#xCCB4;&#xBCF4;&#xAE30;
    i
