style
    include ../css/main.css
    include ../css/jquery.css
style.
  .donemsg{font-size: 24px; font-weight: bold; text-align:center;}
  .msg{margin: 5px;}
  .orderInfo{display:block; margin: 0 auto; position: relative; left:380px;}
  .olist{margin: 5px;} p{margin: 15px;}
body.hd#paymentResult

        #wrap
          include ../../common/head.pug

        div.donemsg(style="text-align:center;") 
          div.msg 주문을 완료하였습니다.
          br
          div.msg 배송이 곧 시작 됩니다.
          br
          div.msg 조금만 기다려 주세요.

        br
        br
        br
        
        div.orderInfo
          div.olist 주문상품 
            p

          div.olist 결제금액
            p

          div.olist 배송지 정보

          div.title 이름
            p=name

          div.title 주소
            p=address

          div.title 상세 주소
            p=detailaddress

